In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
df = pd.read_csv("yellow_tripdata_2016-05.csv",parse_dates = ['tpep_pickup_datetime','tpep_dropoff_datetime']);
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-05-01,2016-05-01 00:17:31,1,3.60,-73.985901,40.768040,1,N,-73.983986,40.730099,1,15.0,0.5,0.5,1.50,0.0,0.3,17.80
1,2,2016-05-01,2016-05-01 00:07:31,1,1.68,-73.991577,40.744751,1,N,-73.975700,40.765469,1,7.5,0.5,0.5,0.88,0.0,0.3,9.68
2,2,2016-05-01,2016-05-01 00:07:01,6,1.09,-73.993073,40.741573,1,N,-73.980995,40.744633,1,6.5,0.5,0.5,1.56,0.0,0.3,9.36
3,2,2016-05-01,2016-05-01 00:19:47,1,4.21,-73.991943,40.684601,1,N,-74.002258,40.733002,1,17.0,0.5,0.5,3.66,0.0,0.3,21.96
4,2,2016-05-01,2016-05-01 00:06:39,1,0.56,-74.005280,40.740192,1,N,-73.997498,40.737564,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76

Ищем поездки без пассажиров

In [22]:
inds = df[df.passenger_count ==0].index;
print 'No passengers: ',len(inds),' trips';
df.drop(inds,inplace = True);

No passengers:  604  trips

Ищем поездки нулевой длительности

In [37]:
# create additional column - duration of the trip
df = df.assign(duration = df.tpep_dropoff_datetime - df.tpep_pickup_datetime);
# delete empty trips
inds = df[df.duration == pd.to_timedelta('0 days')].index;
print 'Zero duration: ',len(inds),' trips';
df.drop(inds,inplace = True);

Zero duration:  0  trips

Ищем поездки с нулевым расстоянием по счётчику

In [38]:
# delete empty trips
inds = df[df.trip_distance == 0].index;
print 'Zero distance: ',len(inds),' trips';
df.drop(inds,inplace = True);

Zero distance:  60641  trips

Ищем поездки за приделами Нью-Йорка

In [72]:
#load coordinates of regions
regs = pd.read_csv("data\\regions.csv",sep=";",index_col='region');

In [77]:
# find corners of the New-York rectangular
east = regs.loc[:,'east'].max();
print east
west = regs.loc[:,'west'].min();
print west
south = regs.loc[:,'south'].min();
print south
north = regs.loc[:,'north'].max();
print north

-73.70001
-74.25559
40.49612
40.91553

In [76]:
pickup_longitude
pickup_latitude
dropoff_latitude
dropoff_latitude

inds = df[(df.pickup_longitude>east) | (df.pickup_longitude<west) |
          (df.dropoff_longitude>east) | (df.dropoff_longitude<west)  |
          (df.pickup_latitude>north) | (df.pickup_latitude<south) |
          (df.dropoff_latitude>north) | (df.dropoff_latitude<south)
         ].index;

AttributeError: 'DataFrame' object has no attribute 'east'