In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('../data/yellow_tripdata_2016-06.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-06-09 21:06:36,2016-06-09 21:13:08,2,0.79,-73.983360,40.760937,1,N,-73.977463,40.753979,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30
1,2,2016-06-09 21:06:36,2016-06-09 21:35:11,1,5.22,-73.981720,40.736668,1,N,-73.981636,40.670242,1,22.0,0.5,0.5,4.00,0.0,0.3,27.30
2,2,2016-06-09 21:06:36,2016-06-09 21:13:10,1,1.26,-73.994316,40.751072,1,N,-74.004234,40.742168,1,6.5,0.5,0.5,1.56,0.0,0.3,9.36
3,2,2016-06-09 21:06:36,2016-06-09 21:36:10,1,7.39,-73.982361,40.773891,1,N,-73.929466,40.851540,1,26.0,0.5,0.5,1.00,0.0,0.3,28.30
4,2,2016-06-09 21:06:36,2016-06-09 21:23:23,1,3.10,-73.987106,40.733173,1,N,-73.985909,40.766445,1,13.5,0.5,0.5,2.96,0.0,0.3,17.76

In [24]:
# drop trips without passengers
inds = df[df.passenger_count ==0].index;
print 'No passengers: ',len(inds),' trips';
df.drop(inds,inplace = True);


inds = df[df.tpep_dropoff_datetime == df.tpep_pickup_datetime].index;
print 'Zero duration: ',len(inds),' trips';
df.drop(inds,inplace = True);

#round 
#df['tpep_pickup_datetime'] = pd.DatetimeIndex(df['tpep_pickup_datetime']).round('1H') ;


# delete empty trips
inds = df[df.trip_distance == 0].index;
print 'Zero distance: ',len(inds),' trips';
df.drop(inds,inplace = True);

No passengers:  0  trips
Zero duration:  11443  trips
Zero distance:  59371  trips

In [42]:
df['pickup_datetime'] = pd.DatetimeIndex(df['tpep_pickup_datetime']).floor('1H') ;

In [51]:
# координаты региона 1075
coords = [-74.0222464, -74.0111348, 40.6974368, 40.705825]
df2 = df.query('(pickup_longitude > @coords[0]) and (pickup_longitude < @coords[1]) and (pickup_latitude > @coords[2]) and (pickup_latitude < @coords[3])')
gr = df2.get(['VendorID','pickup_datetime']).groupby('pickup_datetime')
gr.count()

                     VendorID
pickup_datetime
2016-06-01 00:00:00        26
2016-06-01 01:00:00        14
2016-06-01 02:00:00         5
2016-06-01 03:00:00         2
2016-06-01 04:00:00         1
2016-06-01 05:00:00         7
2016-06-01 06:00:00        23
2016-06-01 07:00:00        34
2016-06-01 08:00:00        72
2016-06-01 09:00:00        54
2016-06-01 10:00:00        51
2016-06-01 11:00:00        83
2016-06-01 12:00:00        70
2016-06-01 13:00:00       100
2016-06-01 14:00:00       119
2016-06-01 15:00:00        88
2016-06-01 16:00:00        75
2016-06-01 17:00:00        84
2016-06-01 18:00:00       122
2016-06-01 19:00:00       106
2016-06-01 20:00:00       105
2016-06-01 21:00:00       135
2016-06-01 22:00:00        86
2016-06-01 23:00:00        62
2016-06-02 00:00:00        35
2016-06-02 01:00:00        18
2016-06-02 02:00:00         7
2016-06-02 03:00:00         5
2016-06-02 04:00:00         3
2016-06-02 05:00:00        10
...                       ...
2016-06-29 18:00:00       101
2016-06-29 19:00:00       112
2016-06-29 20:00:00       123
2016-06-29 21:00:00       143
2016-06-29 22:00:00       124
2016-06-29 23:00:00        93
2016-06-30 00:00:00        42
2016-06-30 01:00:00        26
2016-06-30 02:00:00        11
2016-06-30 03:00:00         4
2016-06-30 04:00:00        11
2016-06-30 05:00:00        10
2016-06-30 06:00:00        26
2016-06-30 07:00:00        39
2016-06-30 08:00:00        57
2016-06-30 09:00:00        58
2016-06-30 10:00:00        56
2016-06-30 11:00:00        71
2016-06-30 12:00:00       124
2016-06-30 13:00:00       137
2016-06-30 14:00:00       109
2016-06-30 15:00:00        86
2016-06-30 16:00:00        81
2016-06-30 17:00:00        82
2016-06-30 18:00:00        88
2016-06-30 19:00:00       116
2016-06-30 20:00:00       104
2016-06-30 21:00:00       151
2016-06-30 22:00:00       106
2016-06-30 23:00:00        85

[720 rows x 1 columns]

In [52]:
# координаты региона 2168
coords = [-73.7777912,-73.7666796,40.6387194,40.6471076]
df2 = df.query('(pickup_longitude > @coords[0]) and (pickup_longitude < @coords[1]) and (pickup_latitude > @coords[2]) and (pickup_latitude < @coords[3])')
gr = df2.get(['VendorID','pickup_datetime']).groupby('pickup_datetime')
gr.count()

                     VendorID
pickup_datetime
2016-06-01 00:00:00        85
2016-06-01 01:00:00        42
2016-06-01 02:00:00        10
2016-06-01 04:00:00         1
2016-06-01 05:00:00        59
2016-06-01 06:00:00        82
2016-06-01 07:00:00        63
2016-06-01 08:00:00       117
2016-06-01 09:00:00        54
2016-06-01 10:00:00        58
2016-06-01 11:00:00        29
2016-06-01 12:00:00        64
2016-06-01 13:00:00        96
2016-06-01 14:00:00        72
2016-06-01 15:00:00        62
2016-06-01 16:00:00       105
2016-06-01 17:00:00        92
2016-06-01 18:00:00        82
2016-06-01 19:00:00        89
2016-06-01 20:00:00       128
2016-06-01 21:00:00       146
2016-06-01 22:00:00        96
2016-06-01 23:00:00        89
2016-06-02 00:00:00        93
2016-06-02 01:00:00        55
2016-06-02 04:00:00         1
2016-06-02 05:00:00        49
2016-06-02 06:00:00        59
2016-06-02 07:00:00        83
2016-06-02 08:00:00        55
...                       ...
2016-06-29 01:00:00         4
2016-06-29 02:00:00         1
2016-06-29 05:00:00         3
2016-06-29 07:00:00         2
2016-06-29 08:00:00         2
2016-06-29 09:00:00         1
2016-06-29 10:00:00         3
2016-06-29 11:00:00         2
2016-06-29 12:00:00         1
2016-06-29 13:00:00         1
2016-06-29 14:00:00         3
2016-06-29 15:00:00         2
2016-06-29 17:00:00         2
2016-06-29 18:00:00         1
2016-06-29 20:00:00         1
2016-06-29 22:00:00         1
2016-06-30 00:00:00         1
2016-06-30 01:00:00         2
2016-06-30 05:00:00         4
2016-06-30 06:00:00         5
2016-06-30 07:00:00         4
2016-06-30 08:00:00         1
2016-06-30 10:00:00         1
2016-06-30 12:00:00         2
2016-06-30 13:00:00         1
2016-06-30 16:00:00         2
2016-06-30 17:00:00         1
2016-06-30 18:00:00         1
2016-06-30 19:00:00         1
2016-06-30 21:00:00         1

[555 rows x 1 columns]