In [1]:
# import libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import datetime
from sklearn import preprocessing, linear_model, model_selection
from sklearn.tree import DecisionTreeRegressor as DTR
import statsmodels.api as sm
from itertools import product
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import make_scorer 


%matplotlib inline
#%pylab inline

Класс моделей ARIMA недостаточно богат для наших данных: с их помощью, например, никак нельзя учесть взаимосвязи между рядами. Это можно сделать с помощью векторной авторегрессии VARIMA, но её питоновская реализация не позволяет использовать регрессионные признаки. Кроме того, авторегрессионный подход не позволяет учитывать, например, взаимодействия между сезонными компонентами. Вы могли заметить, что форма суточных сезонных профилей в будни и выходные немного разная; явно моделировать этот эффект с помощью ARIMA не получится.

Нам нужна более сложная модель. Давайте займёмся сведением задачи массового прогнозирования рядов к регрессионной постановке! Вам понадобится много признаков. Некоторые из них у вас уже есть — это:
<ol>
<li>идентификатор географической зоны
<li>дата и время
<li>количество поездок в периоды, предшествующие прогнозируемому
<li>синусы, косинусы и тренды, которые вы использовали внутри регрессионной компоненты ARIMA
<li>Кроме того, не спешите выбрасывать построенный вами на прошлой неделе прогнозы — из них может получиться хороший признак для регрессии!
</ol>



Вы можете попробовать разные регрессионный модели, но хорошие результаты, скорее всего, дадут такие, которые будут позволять признакам взаимодействовать друг с другом.

Поскольку прогноз нужен на 6 часов вперёд, проще всего будет построить 6 независимых регрессионных моделей — одна для прогнозирования y^T+1|T, другая для y^T+2|T и т.д.

<ol>Чтобы сдать задание, выполните следующую последовательность действий.
<li>Для каждой из шести задач прогнозирования y^T+i|T,i=1,…,6 сформируйте выборки. Откликом будет yT+i при всевозможных значениях T, а признаки можно использовать следующие:
<ul>
<li>идентификатор географической зоны — категориальный
<li>год, месяц, день месяца, день недели, час — эти признаки можно пробовать брать и категориальными, и непрерывными, можно даже и так, и так (done)
<li>синусы, косинусы и тренды, которые вы использовали внутри регрессионной компоненты ARIMA (done)
<li>сами значения прогнозов ARIMA y^T+i|TARIMA
<li>количество поездок из рассматриваемого района в моменты времени yT,yT−1,…,yT−K (параметр K можно подбирать; попробуйте начать, например, с 6)
<li>количество поездок из рассматриваемого района в моменты времени yT−24,yT−48,…,yT−24∗Kd (параметр Kd можно подбирать; попробуйте начать, например, с 2)
<li>суммарное количество поездок из рассматриваемого района за предшествующие полдня, сутки, неделю, месяц
</ul>
Будьте внимательны при создании признаков — все факторы должны быть рассчитаны без использования информации из будущего: при прогнозировании y^T+i|T,i=1,…,6 вы можете учитывать только значения y до момента времени T включительно.


<li>Выбранными моделями постройте для каждой географической зоны и каждого конца истории от 2016.04.30 23:00 до 2016.05.31 17:00 прогнозы на 6 часов вперёд; посчитайте в ноутбуке ошибку прогноза по следующему функционалу:
Qmay=1R∗739∗6∑r=1R∑T=2016.04.3023:002016.05.3117:00∑i=16y^T|T+ir−yT+ir.
Убедитесь, что ошибка полученных прогнозов, рассчитанная согласно функционалу Q, определённому на прошлой неделе, уменьшилась по сравнению с той, которую вы получили методом индивидуального применения моделей ARIMA. Если этого не произошло, попробуйте улучшить ваши модели.

<li>Итоговыми моделями постройте прогнозы для каждого конца истории от 2016.05.31 23:00 до 2016.06.30 17:00 и запишите все результаты в один файл в формате geoID, histEndDay, histEndHour, step, y. Здесь geoID — идентификатор зоны, histEndDay — день конца истории в формате id,y, где столбец id состоит из склеенных через подчёркивание идентификатора географической зоны, даты конца истории, часа конца истории и номера отсчёта, на который делается предсказание (1-6); столбец y — ваш прогноз.

<li>Загрузите полученный файл на kaggle: https://inclass.kaggle.com/c/yellowtaxi. Добавьте в ноутбук ссылку на сабмишн.

<li>Загрузите ноутбук в форму.

Подгружаем данные

In [2]:
# id нужных регионов
regsDf = pd.read_csv('../crowdRegs.csv',names=['id','regId']);  

# времянные ряды для этих регионов
df = pd.read_pickle('../loadData/crowdRegs3.pcl')
regNames = regsDf.regId.values.astype('str')
df.columns = regNames

Наверное, оптимальный способ - пройтись по всем регионам, сформировать требуемую выборку, а потом - состыковать. 
Вероятно, в процессе работы получится векторизовать это действие.
Пожалуй, имеет смысл сначала для всего фрейма добавить общие для всех колонок признаки (тренд, гармоники, даты, дни недели)

In [3]:
def processDataFrame(inpDf, Kw = 7, Ka = 2):
    """
    Обрабатываем сразу весь dateFrame и добавляем признаки, общие для всех рядов
    тренд, гармоники, категориальные перемнные
    для дат, дней недели, etc)

    Parameters:
    Kw number of weeks harmonics
    Ka number of annual harmonics
    """

    inpDf = inpDf.assign(linear = (inpDf.index - datetime.datetime(2014,1,1,0,0,0))/np.timedelta64(1, 'h'))
    
    # час — эти признаки можно пробовать брать и категориальными
    # и непрерывными, можно даже и так, и так

    # добавляем гармонические фичи
    for ind in range(1,Kw+1):
        inpDf['weekCos'+str(ind)]= np.cos(np.pi*inpDf.linear*ind/168)
        inpDf['weekSin'+str(ind)]= np.sin(np.pi*inpDf.linear*ind/168)
     
    for ind in range(1,Ka+1):
        inpDf['yearCos'+str(ind)]= np.cos(2*np.pi*inpDf.linear*ind/8766)        
        inpDf['yearSin'+str(ind)]= np.sin(2*np.pi*inpDf.linear*ind/8766)

    # добавляем числовое и категориальные свойства для дней недели
    inpDf = inpDf.assign(dayOfWeek = inpDf.index.dayofweek)
    lbDays = preprocessing.LabelBinarizer()
    lbDays.fit(list(np.arange(6)))
    DoW = pd.DataFrame(lbDays.transform(inpDf.index.dayofweek),columns = ['dayOfWeek_'+str(x) for x in np.arange(6)],
                       index = inpDf.index)      
    inpDf = inpDf.merge(DoW,left_index=True,right_index=True)

    # добавляем dummy variables для месяца
    inpDf = inpDf.assign(month = inpDf.index.month)
    lbMonths = preprocessing.LabelBinarizer()
    lbMonths.fit(list(np.arange(12)))
    Months = pd.DataFrame(lbMonths.transform(inpDf.index.month),columns = ['month_'+str(x) for x in np.arange(1,13)],
                          index = inpDf.index)      
    inpDf = inpDf.merge(Months,left_index=True,right_index=True);

    # добавляем год (вещественный)
    inpDf = inpDf.assign(year = inpDf.index.year)

    # добавляем день месяца (вещественный)
    inpDf = inpDf.assign(day = inpDf.index.day)

    # добавляем час (вещественный и категориальный)
    inpDf = inpDf.assign(hour = inpDf.index.hour)
    lbHours = preprocessing.LabelBinarizer()
    lbHours.fit(list(np.arange(24)))
    Hours = pd.DataFrame(lbHours.transform(inpDf.index.hour),columns = ['hour_'+str(x) for x in np.arange(24)],
                       index = inpDf.index)      
    inpDf = inpDf.merge(Hours,left_index=True,right_index=True)
    
    return inpDf

Теперь делаем индивидуальную обработку для каждого региона
<ol>
<li> добавляем идентификатор географической зоны — категориальный
<li> количество поездок из рассматриваемого района в моменты времени yT,yT−1,…,yT−K (параметр K можно подбирать; попробуйте начать, например, с 6)
<li> количество поездок из рассматриваемого района в моменты времени yT−24,yT−48,…,yT−24∗Kd (параметр Kd можно подбирать; попробуйте начать, например, с 2)
<li>суммарное количество поездок из рассматриваемого района за предшествующие полдня, сутки, неделю, месяц 
2) 
</ol>

In [4]:
def processSeries(df,tReg,Kh = 6, Kp = 2):
    """
    Обработка одного данного ряда 
    parameters:
        df - начальный датафрейм, из которого выберем для обработки один ряд
        tReg - название ряда, который надо обработать
        Kh - количество отслеживаемых прошлых суточных лагов "назад"
        Kp - количество отслеживаемых прошлых периодических лагов (период 24 часа)

    """
 

    tDf = df.loc[:,tReg.split() + commonFeatures].rename(columns={tReg:'y'})

    tDf = tDf.assign(region = tReg)

    for timeLag in np.arange(1,Kh+1):
        name = 'hourLag_'+str(timeLag)
        tDf.loc[:,name] = tDf.y.shift(periods=timeLag)

    for timeLag in np.arange(1,Kp+1):
        name = 'periodicLag_'+str(timeLag)
        tDf.loc[:,name] = tDf.y.shift(periods=timeLag*24)

    tDf.fillna(0,inplace=True)    

    # суммарное количество поездок из рассматриваемого района за предшествующие полдня, сутки, неделю, месяц
    tDf.loc[:,'sum12'] = tDf.y.rolling(window = 12, min_periods = 1).sum()
    tDf.loc[:,'sum24'] = tDf.y.rolling(window = 24, min_periods = 1).sum()
    tDf.loc[:,'sumWeek'] = tDf.y.rolling(window = 168, min_periods = 1).sum()
    tDf.loc[:,'sumMonth'] = tDf.y.rolling(window = 720, min_periods = 1).sum()
    
    #создаём шесть целевые переменных для каждого конца истории
    for targetVar in np.arange(1,7):
        name = 'y'+str(targetVar)
        tDf.loc[:,name] = tDf.y.shift(-targetVar)
    tDf.fillna(0,inplace=True)
    
    return tDf

In [5]:
def saveResults(rdf, fName):
    rnd = np.round

    f = open(fName,'w')
    f.writelines('id,y\n')

    for ind, row in rdf.iterrows():
        historyStart = row.date - datetime.timedelta(hours = 1)

        if historyStart > datetime.datetime(2016,6,30,17):
            continue

        s0 = str(row.region)+'_'+ str(datetime.datetime.strftime(historyStart, "%Y-%m-%d"))+ '_'+ str(historyStart.hour)

        s1 = s0 +'_1,'+str(rnd(row.get('y1'))) + '\n'
        f.writelines(s1)

        s2 = s0 +'_2,'+str(rnd(row.get('y2'))) + '\n'
        f.writelines(s2)

        s3 = s0 +'_3,'+str(rnd(row.get('y3'))) + '\n'
        f.writelines(s3)

        s4 = s0 +'_4,'+str(rnd(row.get('y4'))) + '\n'
        f.writelines(s4)

        s5 = s0 +'_5,'+str(rnd(row.get('y5'))) + '\n'
        f.writelines(s5)

        s6 = s0 +'_6,'+str(rnd(row.get('y6'))) + '\n'
        f.writelines(s6)

    f.close()

In [6]:
# общая обработка данных
df2 = processDataFrame(df,Kw = 7, Ka = 2)
commonFeatures =  list(set(df2.columns)-set(df.columns.values))
# обработка отдельных рядов
df3 = pd.DataFrame()
for regName in regNames:
    df3 = pd.concat([df3, processSeries(df2,regName,Kh = 12, Kp = 4)])

#regDf = df3.get('region')
#df3 = pd.get_dummies(df3,'region')
#df3 = df3.assign(region = regDf)
df3.head()

,y,weekSin1,weekSin2,month,hour_19,hour_9,hour_8,year,hour_5,hour_4,...,sum12,sum24,sumWeek,sumMonth,y1,y2,y3,y4,y5,y6
2014-01-01 00:00:00,87,0.000000,0.000000,1,0,0,0,2014,0,0,...,87.0,87.0,87.0,87.0,92.0,108.0,77.0,47.0,22.0,10.0
2014-01-01 01:00:00,92,0.018699,0.037391,1,0,0,0,2014,0,0,...,179.0,179.0,179.0,179.0,108.0,77.0,47.0,22.0,10.0,18.0
2014-01-01 02:00:00,108,0.037391,0.074730,1,0,0,0,2014,0,0,...,287.0,287.0,287.0,287.0,77.0,47.0,22.0,10.0,18.0,19.0
2014-01-01 03:00:00,77,0.056070,0.111964,1,0,0,0,2014,0,0,...,364.0,364.0,364.0,364.0,47.0,22.0,10.0,18.0,19.0,28.0
2014-01-01 04:00:00,47,0.074730,0.149042,1,0,0,0,2014,0,1,...,411.0,411.0,411.0,411.0,22.0,10.0,18.0,19.0,28.0,37.0

In [8]:
startTrain = '2014-01-01 00:00:00'
endTrain   = '2016-04-30 23:00:00'

startValidation = '2016-05-01 00:00:00'
endValidation   = '2016-05-31 23:00:00'

startTest = '2016-06-01 00:00:00'
endTest   = '2016-06-30 23:00:00'

In [9]:
df3 = df3.loc[startTrain:endTest,:]

In [10]:
targetList = ['y1','y2','y3','y4','y5','y6']

In [11]:
tsGroups = df3.groupby('region')
dlCols = ['y','y1','y2','y3','y4','y5','y6']

In [12]:
df3.head()

,y,weekSin1,weekSin2,month,hour_19,hour_9,hour_8,year,hour_5,hour_4,...,sum12,sum24,sumWeek,sumMonth,y1,y2,y3,y4,y5,y6
2014-01-01 00:00:00,87,0.000000,0.000000,1,0,0,0,2014,0,0,...,87.0,87.0,87.0,87.0,92.0,108.0,77.0,47.0,22.0,10.0
2014-01-01 01:00:00,92,0.018699,0.037391,1,0,0,0,2014,0,0,...,179.0,179.0,179.0,179.0,108.0,77.0,47.0,22.0,10.0,18.0
2014-01-01 02:00:00,108,0.037391,0.074730,1,0,0,0,2014,0,0,...,287.0,287.0,287.0,287.0,77.0,47.0,22.0,10.0,18.0,19.0
2014-01-01 03:00:00,77,0.056070,0.111964,1,0,0,0,2014,0,0,...,364.0,364.0,364.0,364.0,47.0,22.0,10.0,18.0,19.0,28.0
2014-01-01 04:00:00,47,0.074730,0.149042,1,0,0,0,2014,0,1,...,411.0,411.0,411.0,411.0,22.0,10.0,18.0,19.0,28.0,37.0

In [13]:
df4 = pd.DataFrame()
for regId in tsGroups.groups.keys():
    print ' '
    print regId
    ts = tsGroups.get_group(regId)

    for target in targetList:
        linReg = linear_model.Ridge(alpha=0.1)
        linReg.fit(ts.loc[startTrain:endValidation,:].drop(dlCols,axis = 1),ts.loc[startTrain:endValidation,target])
        prediction = linReg.predict(ts.drop(dlCols,axis = 1))
        prediction[prediction<0] =0
        print target, ' ',MAE(prediction,ts.get(target))
        colName = target+'_reg'
        ts.loc[:,colName] = prediction # перезаписываю колонку?
    df4 = pd.concat([df4, ts])

1783
y1   35.183034219

D:\Anaconda2\lib\site-packages\pandas\core\indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
D:\Anaconda2\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

y2   38.2383136321
y3   39.9871778817
y4   40.8147664123
y5   41.2841396943
y6   41.352207012

1076
y1   17.5368085011
y2   21.6893429289
y3   22.6864036001
y4   22.2852898302
y5   22.3981930094
y6   22.6020068799

1077
y1   15.2948564153
y2   18.1811557917
y3   18.2714623159
y4   17.8620396146
y5   16.4805043581
y6   15.3910886553

1075
y1   10.4979186021
y2   12.3835360056
y3   12.9918091012
y4   12.9731528576
y5   12.8559814731
y6   12.8141693497

1377
y1   4.22254210841
y2   5.32431393396
y3   5.8228895949
y4   5.79122228547
y5   5.67994786451
y6   5.6630788037

1376
y1   5.25528075449
y2   6.73074575269
y3   7.46225875773
y4   7.45778325145
y5   7.12968102201
y6   7.08765122975

1378
y1   3.59728009314
y2   4.22426684673
y3   4.44488708228
y4   4.4522120047
y5   4.38346754634
y6   4.43123985616

2068
y1   16.5761601974
y2   16.9071649734
y3   17.0042336174
y4   17.059223499
y5   17.128746549
y6   17.1286057624

2069
y1   4.41078939637
y2   4.42085336949
y3   4.42824290352
y4   4.42699823133
y5   4.43041663099
y6   4.43332670048

1388
y1   5.22355328751
y2   5.79125347829
y3   5.91333125209
y4   5.87255887494
y5   5.84733567492
y6   5.91174345101

1389
y1   3.93340852081
y2   4.17153088078
y3   4.24381032556
y4   4.24997955133
y5   4.22094590388
y6   4.2451364017

1384
y1   47.9384346404
y2   64.7292125525
y3   70.285588198
y4   69.5159819414
y5   68.5178621809
y6   71.5728745988

1385
y1   30.7945662859
y2   39.7086326231
y3   39.9436661143
y4   38.1651323895
y5   38.1168806826
y6   37.1555406586

1386
y1   7.66072136745
y2   8.57405732691
y3   8.78951524291
y4   8.79260262679
y5   8.72943749832
y6   8.75453994984

1387
y1   6.65057959942
y2   7.6137277636
y3   7.77432673798
y4   7.75336294785
y5   7.73737743637
y6   7.82136993335

1380
y1   3.32202368041
y2   3.51343660259
y3   3.5965758041
y4   3.6182058603
y5   3.62069503431
y6   3.65258233106

1382
y1   5.22631714865
y2   5.8848397443
y3   6.02230667431
y4   5.84666746173
y5   5.53960786392
y6   5.45737369987

1383
y1   31.0639433455
y2   41.5235426694
y3   40.2093738843
y4   38.1340680111
y5   38.3997423663
y6   36.7757229909

1128
y1   36.1183701047
y2   49.7994467697
y3   55.3655873534
y4   55.8389152543
y5   54.6062709854
y6   54.2314859994

1129
y1   41.8905943819
y2   60.3596476335
y3   69.1137104472
y4   68.8928406413
y5   66.6770516119
y6   67.6597461127

1326
y1   7.57723993071
y2   9.83932793822
y3   10.979035398
y4   11.1813156484
y5   10.9495549219
y6   10.9446966715

1327
y1   9.84664123777
y2   13.5995227452
y3   15.4135683691
y4   15.7202104778
y5   15.354961488
y6   15.06940717

1176
y1   5.24858015174
y2   5.8503389725
y3   6.08548180378
y4   6.0118343302
y5   5.76204273874
y6   5.68314446201

1125
y1   11.9891626555
y2   14.3611491143
y3   14.8441442689
y4   14.2813016619
y5   13.7927066859
y6   13.7997378064

1126
y1   21.6855755866
y2   27.7377714489
y3   30.3947960632
y4   30.56091023
y5   29.558703968
y6   29.2192537178

1127
y1   30.4804782436
y2   42.8084965096
y3   48.5102245838
y4   48.5331091922
y5   45.1939009749
y6   43.6092430969

1483
y1   3.51216780287
y2   3.73489808146
y3   3.77607785453
y4   3.74585469511
y5   3.74928885129
y6   3.83459903385

1482
y1   3.97665152272
y2   4.35616484621
y3   4.47903166687
y4   4.39423798973
y5   4.23088740817
y6   4.34137264976

1480
y1   3.51622907703
y2   3.70806814876
y3   3.74987939589
y4   3.72176775786
y5   3.64318437772
y6   3.67775436599

1177
y1   40.8635666612
y2   65.117612881
y3   77.6655614278
y4   78.7040879703
y5   77.8092611173
y6   76.1866398847

1230
y1   65.8215619831
y2   101.404299392
y3   118.59253698
y4   116.755026377
y5   107.857567273
y6   104.652135371

1338
y1   9.24272368671
y2   10.6695189713
y3   11.1116097781
y4   11.2143941351
y5   11.2334208332
y6   11.232037828

1334
y1   46.65664829
y2   61.6921064161
y3   63.0255723801
y4   60.8833924988
y5   60.3206109131
y6   58.9995882777

1337
y1   12.3094242795
y2   14.4026475587
y3   14.7691891453
y4   14.582335645
y5   14.4765764365
y6   14.7948633876

1390
y1   4.06558806786
y2   4.36823493215
y3   4.43056008103
y4   4.39717774941
y5   4.33050314499
y6   4.38136995121

1234
y1   41.0282132747
y2   51.0879538786
y3   53.420503893
y4   53.2169530853
y5   52.7719274723
y6   53.533135264

1235
y1   19.6472643736
y2   23.7170963163
y3   24.863351215
y4   24.7583899438
y5   24.5300199202
y6   24.8406154351

1130
y1   51.5809283837
y2   76.0398723799
y3   86.515123024
y4   85.3423216154
y5   80.403656209
y6   81.242943732

1339
y1   3.35676807186
y2   3.50177084213
y3   3.53989425716
y4   3.52633485124
y5   3.50541312214
y6   3.52629971081

1231
y1   66.0571098972
y2   95.3756074432
y3   108.589340112
y4   109.912519619
y5   103.964357222
y6   100.223420858

1232
y1   78.9930042519
y2   112.9418676
y3   125.164161176
y4   125.23111664
y5   120.241284951
y6   117.801208956

1233
y1   59.0179321828
y2   78.4331667545
y3   83.996162365
y4   82.3940439654
y5   79.5708880182
y6   79.4027353699

1335
y1   16.9780561798
y2   20.1167869544
y3   19.8752440861
y4   19.944345002
y5   19.1678526016
y6   18.8844913053

1132
y1   11.5274605529
y2   15.4574016687
y3   17.5316088233
y4   18.203531034
y5   18.3762629737
y6   18.6332315727

1131
y1   24.3182257163
y2   32.7143284003
y3   35.3906481484
y4   34.2093249833
y5   31.9221296123
y6   31.6948848352

1336
y1   10.3822734997
y2   11.9847584283
y3   12.1496815305
y4   11.9950733768
y5   12.050092197
y6   11.9208273219

1331
y1   9.2844722076
y2   10.8597643305
y3   10.671809023
y4   10.216336098
y5   9.98930038481
y6   9.39467949372

1333
y1   55.0434522399
y2   77.7269114283
y3   79.2198767873
y4   73.7897300576
y5   73.5090486145
y6   70.723427167

1332
y1   40.0433780709
y2   55.6082834255
y3   59.4575691893
y4   55.7453608147
y5   53.5026266722
y6   55.2789574527

1436
y1   6.05095931879
y2   6.55889818854
y3   6.71885161329
y4   6.74315391869
y5   6.75641284762
y6   6.80542002951

1437
y1   7.16195007045
y2   8.2159685934
y3   8.43428408538
y4   8.44649600143
y5   8.42291270353
y6   8.45645930472

1434
y1   2.82116407208
y2   2.89579084958
y3   2.88272836978
y4   2.8445417448
y5   2.76422477888
y6   2.71919789308

1435
y1   2.81593219479
y2   2.8772142907
y3   2.89693440996
y4   2.90061551165
y5   2.90652740035
y6   2.9081007768

1431
y1   4.94751113286
y2   5.23847837535
y3   5.3317231897
y4   5.35209716638
y5   5.35217599343
y6   5.36008608488

1438
y1   3.48507576237
y2   3.73541832897
y3   3.75372060482
y4   3.73056314668
y5   3.73061083759
y6   3.78332509518

1439
y1   2.58920670235
y2   2.72159096333
y3   2.73269293994
y4   2.71910833617
y5   2.70489057723
y6   2.70534944718

1533
y1   4.02206027048
y2   4.57691311407
y3   4.79639863088
y4   4.70619327666
y5   4.4628518908
y6   4.55610712111

1532
y1   2.91206207234
y2   3.17946530787
y3   3.30478866731
y4   3.29815996093
y5   3.20260172357
y6   3.2314777999

1530
y1   4.06393530015
y2   4.43283446094
y3   4.47920159569
y4   4.436787256
y5   4.40329108473
y6   4.5003970835

1580
y1   2.15916181708
y2   2.24097089276
y3   2.24973457042
y4   2.24408071836
y5   2.23195078602
y6   2.24729691065

1227
y1   29.097319762
y2   46.0414065023
y3   53.9606515299
y4   52.6464075984
y5   50.8910856043
y6   50.152156307

1225
y1   2.56909839654
y2   2.75051639803
y3   2.79935478656
y4   2.77854920124
y5   2.76046353368
y6   2.754259786

1224
y1   5.82433837981
y2   6.51060536173
y3   6.69808310838
y4   6.66436343566
y5   6.6176219419
y6   6.6885721908

1223
y1   4.94190782472
y2   5.46172095058
y3   5.67482287593
y4   5.71193068394
y5   5.68999871501
y6   5.75208814455

1222
y1   3.93325085516
y2   4.56846257425
y3   4.83391872034
y4   4.84451335917
y5   4.81170294708
y6   4.88230289575

1221
y1   2.53845300571
y2   2.79631538481
y3   2.917136204
y4   2.9237073793
y5   2.9128247886
y6   2.92562441998

1229
y1   48.3260207667
y2   70.1912990658
y3   81.3894230565
y4   82.6784889891
y5   77.7718187541
y6   76.6152312214

1228
y1   43.7372135408
y2   66.3573234622
y3   77.673987071
y4   79.6501571656
y5   78.6001181606
y6   79.2210496903

1630
y1   2.19789452806
y2   2.26693689651
y3   2.30611036025
y4   2.32910222024
y5   2.34368101096
y6   2.34318247045

1426
y1   2.67600976141
y2   3.12171397503
y3   3.36921929351
y4   3.36835833541
y5   3.24716649371
y6   3.22201756601

1733
y1   2.64693974257
y2   2.70560456508
y3   2.71720921356
y4   2.72610226967
y5   2.7315297803
y6   2.73415942635

1734
y1   39.828425477
y2   42.6007587002
y3   43.533733789
y4   43.9445765687
y5   44.2619013384
y6   44.3325406985

2118
y1   22.9490698919
y2   23.5745714637
y3   23.8645403244
y4   23.9694405155
y5   24.0503588332
y6   24.1565392954

2119
y1   13.3941106083
y2   13.3839695265
y3   13.3652276081
y4   13.3639133564
y5   13.396721831
y6   13.4461742258

1184
y1   5.26498257337
y2   5.70398163565
y3   5.75960567495
y4   5.72260507541
y5   5.65681341759
y6   5.63823996991

1182
y1   51.3998392046
y2   73.1344857882
y3   81.1145109656
y4   78.0102118092
y5   70.3516601166
y6   71.8115891989

1183
y1   22.1519035258
y2   28.7261153985
y3   30.801742862
y4   30.5117161556
y5   29.1758378908
y6   28.54189055

1180
y1   52.0319221185
y2   72.1652087534
y3   80.1924441253
y4   80.4471988571
y5   78.1006058176
y6   77.2081106746

1181
y1   85.366662225
y2   111.950051549
y3   121.047034694
y4   115.403165565
y5   111.552208283
y6   109.664867352

1442
y1   2.58142214657
y2   2.68911160564
y3   2.72027730339
y4   2.71088285459
y5   2.6645548657
y6   2.66853077938

1441
y1   2.0668425172
y2   2.14104012377
y3   2.15003688921
y4   2.12878281144
y5   2.09660418136
y6   2.09352998861

2168
y1   15.8210923897
y2   16.3381760005
y3   16.4520720418
y4   16.4468611699
y5   16.4111795986
y6   16.3972270873

1278
y1   4.10701698941
y2   4.4035865079
y3   4.43800524626
y4   4.40033672566
y5   4.37782944938
y6   4.5452664564

1279
y1   6.99891068317
y2   7.88295439013
y3   8.07353298319
y4   7.84192071572
y5   7.59656963109
y6   7.75564048593

1175
y1   3.82777005923
y2   4.34267727617
y3   4.51188877743
y4   4.52286927323
y5   4.51177393009
y6   4.52839502502

1174
y1   6.99309119503
y2   8.42805278346
y3   8.6527625062
y4   8.47057605306
y5   8.40954523955
y6   8.46892171818

1173
y1   6.51531229731
y2   7.85290609346
y3   8.16938233461
y4   8.05892889449
y5   7.97446845514
y6   8.2644806045

1172
y1   2.60507301493
y2   2.83395746543
y3   2.86926409893
y4   2.85057226614
y5   2.84469009023
y6   2.87518052874

1272
y1   3.38117938001
y2   3.74192825896
y3   3.91247698788
y4   3.9134029208
y5   3.90634751745
y6   3.93756501294

1273
y1   5.16883568572
y2   5.97009155478
y3   6.20885660486
y4   6.21990628231
y5   6.2164183107
y6   6.28153946

1274
y1   2.85065045652
y2   3.10332675822
y3   3.17863676511
y4   3.18540213891
y5   3.16573125252
y6   3.18548932498

1179
y1   48.9329332014
y2   68.100770926
y3   76.1738028476
y4   76.1364495716
y5   73.1540845864
y6   73.0236488189

1178
y1   51.9322670575
y2   76.3391104163
y3   87.1421560037
y4   86.5495040949
y5   85.7689475638
y6   85.3156032041

1285
y1   29.353506077
y2   37.8195027794
y3   40.3979064967
y4   40.5239738026
y5   39.9398087719
y6   40.5661304126

1284
y1   13.8864317637
y2   16.5576425584
y3   17.3672033945
y4   17.4817539846
y5   17.4896961009
y6   17.6015893951

1287
y1   11.7983848231
y2   13.7666318669
y3   14.2113929149
y4   14.0876432952
y5   14.0418376439
y6   14.3695786305

1286
y1   25.6062710394
y2   32.3904972654
y3   34.58627053
y4   34.5477646762
y5   34.2534522436
y6   34.8995803096

1281
y1   71.2736227771
y2   103.515922821
y3   112.960204365
y4   108.963643674
y5   102.651448348
y6   102.431403975

1280
y1   24.2445945067
y2   31.9601348154
y3   34.7624858378
y4   33.6009886115
y5   31.2713896787
y6   31.6545714092

1283
y1   27.8294699202
y2   34.8696891551
y3   35.830949959
y4   35.3247091464
y5   35.0402650442
y6   34.9664514641

1282
y1   86.6848761511
y2   131.718439264
y3   156.766130622
y4   164.30324548
y5   161.20865938
y6   155.230002621

1684
y1   6.37202722589
y2   6.3437092728
y3   6.41189794726
y4   6.42872455279
y5   6.45724634828
y6   6.46306785747

In [ ]:
df4

,y,weekSin1,weekSin2,month,hour_19,hour_9,hour_8,year,hour_5,hour_4,...,y3,y4,y5,y6,y1_reg,y2_reg,y3_reg,y4_reg,y5_reg,y6_reg
2014-01-01 00:00:00,10,0.000000,0.000000,1,0,0,0,2014,0,0,...,2.0,1.0,0.0,1.0,0.000000,32.042194,15.948785,0.000000,0.000000,0.000000
2014-01-01 01:00:00,2,0.018699,0.037391,1,0,0,0,2014,0,0,...,1.0,0.0,1.0,4.0,0.000000,0.000000,0.000000,0.000000,0.000000,80.555915
2014-01-01 02:00:00,1,0.037391,0.074730,1,0,0,0,2014,0,0,...,0.0,1.0,4.0,28.0,0.000000,0.000000,0.000000,0.000000,74.817554,107.874459
2014-01-01 03:00:00,2,0.056070,0.111964,1,0,0,0,2014,0,0,...,1.0,4.0,28.0,46.0,0.000000,0.000000,0.000000,77.900365,108.835846,141.780908
2014-01-01 04:00:00,1,0.074730,0.149042,1,0,0,0,2014,0,1,...,4.0,28.0,46.0,217.0,0.000000,0.000000,75.024184,108.691425,140.323082,210.562388
2014-01-01 05:00:00,0,0.093364,0.185912,1,0,0,0,2014,1,0,...,28.0,46.0,217.0,145.0,0.000000,94.723383,136.322790,166.112959,222.633745,194.360591
2014-01-01 06:00:00,1,0.111964,0.222521,1,0,0,0,2014,0,0,...,46.0,217.0,145.0,233.0,53.578164,78.079598,122.150172,203.594700,191.533976,179.866536
2014-01-01 07:00:00,4,0.130526,0.258819,1,0,0,0,2014,0,0,...,217.0,145.0,233.0,132.0,61.130950,98.455507,181.258921,171.986165,164.691760,192.160536
2014-01-01 08:00:00,28,0.149042,0.294755,1,0,0,1,2014,0,0,...,145.0,233.0,132.0,160.0,87.052375,165.107590,156.045580,150.025362,180.651632,246.194316
2014-01-01 09:00:00,46,0.167506,0.330279,1,0,1,0,2014,0,0,...,233.0,132.0,160.0,257.0,151.313024,140.720288,134.821996,165.003178,233.264306,228.989420
2014-01-01 10:00:00,217,0.185912,0.365341,1,0,0,0,2014,0,0,...,132.0,160.0,257.0,321.0,176.913674,160.244342,178.678767,240.390898,230.272968,229.018076
2014-01-01 11:00:00,145,0.204252,0.399892,1,0,0,0,2014,0,0,...,160.0,257.0,321.0,267.0,146.233116,168.918658,235.275445,227.809515,229.805891,250.617207
2014-01-01 12:00:00,233,0.222521,0.433884,1,0,0,0,2014,0,0,...,257.0,321.0,267.0,334.0,205.299051,262.001304,245.676490,247.260120,262.658625,256.426449
2014-01-01 13:00:00,132,0.240712,0.467269,1,0,0,0,2014,0,0,...,321.0,267.0,334.0,296.0,226.772849,218.227697,226.031662,247.795104,246.590319,224.416639
2014-01-01 14:00:00,160,0.258819,0.500000,1,0,0,0,2014,0,0,...,267.0,334.0,296.0,218.0,186.512119,205.051350,228.031262,229.465559,210.118422,196.227875
2014-01-01 15:00:00,257,0.276836,0.532032,1,0,0,0,2014,0,0,...,334.0,296.0,218.0,126.0,239.289194,255.868535,244.373844,221.380313,198.540931,240.678718
2014-01-01 16:00:00,321,0.294755,0.563320,1,0,0,0,2014,0,0,...,296.0,218.0,126.0,227.0,298.344818,278.966116,241.413579,212.326976,243.253872,220.846769
2014-01-01 17:00:00,267,0.312572,0.593820,1,0,0,0,2014,0,0,...,218.0,126.0,227.0,92.0,270.735659,239.607057,208.067316,240.333887,216.009425,161.291975
2014-01-01 18:00:00,334,0.330279,0.623490,1,0,0,0,2014,0,0,...,126.0,227.0,92.0,54.0,270.999844,237.983254,257.708401,228.844686,164.018307,50.600699
2014-01-01 19:00:00,296,0.347871,0.652287,1,1,0,0,2014,0,0,...,227.0,92.0,54.0,14.0,252.828323,274.225375,238.086056,171.455451,51.096694,0.000000
2014-01-01 20:00:00,218,0.365341,0.680173,1,0,0,0,2014,0,0,...,92.0,54.0,14.0,41.0,257.857919,232.429409,169.202908,51.571216,0.000000,0.000000
2014-01-01 21:00:00,126,0.382683,0.707107,1,0,0,0,2014,0,0,...,54.0,14.0,41.0,0.0,169.816551,132.147160,28.957672,0.000000,28.667832,13.650973
2014-01-01 22:00:00,227,0.399892,0.733052,1,0,0,0,2014,0,0,...,14.0,41.0,0.0,3.0,152.750313,52.809760,0.000000,5.719212,0.000000,1.265468
2014-01-01 23:00:00,92,0.416961,0.757972,1,0,0,0,2014,0,0,...,41.0,0.0,3.0,7.0,24.440887,0.000000,29.194350,16.947100,0.000000,0.000000
2014-01-02 00:00:00,54,0.433884,0.781831,1,0,0,0,2014,0,0,...,0.0,3.0,7.0,6.0,0.000000,8.799716,11.851247,20.890075,11.082944,0.000000
2014-01-02 01:00:00,14,0.450655,0.804598,1,0,0,0,2014,0,0,...,3.0,7.0,6.0,49.0,5.935406,1.909633,11.805876,15.030344,5.059049,90.086930
2014-01-02 02:00:00,41,0.467269,0.826239,1,0,0,0,2014,0,0,...,7.0,6.0,49.0,135.0,28.873595,31.266572,26.406593,16.494265,96.226199,146.576308
2014-01-02 03:00:00,0,0.483719,0.846724,1,0,0,0,2014,0,0,...,6.0,49.0,135.0,251.0,19.997687,14.432155,9.340628,99.495457,152.531164,202.765453
2014-01-02 04:00:00,3,0.500000,0.866025,1,0,0,0,2014,0,1,...,49.0,135.0,251.0,256.0,8.217878,1.539536,91.600933,149.191082,198.779357,283.985968
2014-01-02 05:00:00,7,0.516106,0.884115,1,0,0,0,2014,1,0,...,135.0,251.0,256.0,323.0,11.074009,92.197533,142.399415,193.831859,275.651319,259.826678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-29 18:00:00,26,0.330279,0.623490,6,0,0,0,2016,0,0,...,19.0,16.0,0.0,0.0,28.288850,25.985789,18.969834,15.088444,5.613135,0.000000
2016-06-29 19:00:00,27,0.347871,0.652287,6,1,0,0,2016,0,0,...,16.0,0.0,0.0,0.0,25.842212,18.137890,14.482390,4.534670,0.000000,0.000000
2016-06-29 20:00:00,26,0.365341,0.680173,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,17.913154,15.647784,5.919470,0.000000,0.000000,1.223640
2016-06-29 21:00:00,19,0.382683,0.707107,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,14.816429,7.000255,0.000000,0.000000,1.045268,0.013952
2016-06-29 22:00:00,16,0.399892,0.733052,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,7.469970,0.100996,0.000000,0.844449,0.069816,0.000000
2016-06-29 23:00:00,0,0.416961,0.757972,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,1.852153,0.000000,0.442805,0.000000,0.579492,0.000000
2016-06-30 00:00:00,0,0.433884,0.781831,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,2.0,0.000000,0.000000,1.247620,0.000000,0.000000,1.264148
2016-06-30 01:00:00,0,0.450655,0.804598,6,0,0,0,2016,0,0,...,0.0,0.0,2.0,5.0,0.000000,0.000000,0.000000,0.000000,1.412806,10.918545
2016-06-30 02:00:00,0,0.467269,0.826239,6,0,0,0,2016,0,0,...,0.0,2.0,5.0,11.0,0.000000,0.000000,0.000000,1.534515,10.997400,14.927890
2016-06-30 03:00:00,0,0.483719,0.846724,6,0,0,0,2016,0,0,...,2.0,5.0,11.0,22.0,0.270732,0.000000,1.052401,10.501321,14.213576,20.348137
2016-06-30 04:00:00,0,0.500000,0.866025,6,0,0,0,2016,0,1,...,5.0,11.0,22.0,15.0,0.496605,0.000304,8.614693,12.197412,18.942274,17.423471
2016-06-30 05:00:00,0,0.516106,0.884115,6,0,0,0,2016,1,0,...,11.0,22.0,15.0,16.0,2.123584,10.052918,12.904277,18.712831,16.678191,20.111837
2016-06-30 06:00:00,2,0.532032,0.900969,6,0,0,0,2016,0,0,...,22.0,15.0,16.0,25.0,12.187342,14.623339,19.674916,16.543599,19.431884,14.626863
2016-06-30 07:00:00,5,0.547772,0.916562,6,0,0,0,2016,0,0,...,15.0,16.0,25.0,19.0,13.002001,18.320930,16.186373,18.950649,14.679275,18.314415
2016-06-30 08:00:00,11,0.563320,0.930874,6,0,0,1,2016,0,0,...,16.0,25.0,19.0,19.0,17.233686,15.652022,18.908032,14.717676,18.520244,16.962610
2016-06-30 09:00:00,22,0.578671,0.943883,6,0,1,0,2016,0,0,...,25.0,19.0,19.0,19.0,16.000531,19.411694,15.040791,18.639875,16.960772,22.468228
2016-06-30 10:00:00,15,0.593820,0.955573,6,0,0,0,2016,0,0,...,19.0,19.0,19.0,16.0,19.386184,14.804910,18.902928,16.710488,22.283867,22.985168
2016-06-30 11:00:00,16,0.608761,0.965926,6,0,0,0,2016,0,0,...,19.0,19.0,16.0,50.0,14.269979,18.613003,16.829832,22.191877,22.912177,26.187606
2016-06-30 12:00:00,25,0.623490,0.974928,6,0,0,0,2016,0,0,...,19.0,16.0,50.0,38.0,20.219016,18.589318,22.884378,23.615679,26.212063,25.051806
2016-06-30 13:00:00,19,0.638000,0.982566,6,0,0,0,2016,0,0,...,16.0,50.0,38.0,44.0,18.648257,22.647900,23.461688,26.187650,25.059256,24.845235
2016-06-30 14:00:00,19,0.652287,0.988831,6,0,0,0,2016,0,0,...,50.0,38.0,44.0,27.0,22.751424,24.369339,26.802768,26.013904,25.560765,23.612722
2016-06-30 15:00:00,19,0.666347,0.993712,6,0,0,0,2016,0,0,...,38.0,44.0,27.0,21.0,23.547989,26.086666,25.494261,25.717844,24.382418,17.323755
2016-06-30 16:00:00,16,0.680173,0.997204,6,0,0,0,2016,0,0,...,44.0,27.0,21.0,19.0,24.398019,24.417179,25.525285,24.472945,18.211273,16.716738
2016-06-30 17:00:00,50,0.693761,0.999301,6,0,0,0,2016,0,0,...,27.0,21.0,19.0,0.0,29.801739,30.371952,26.425782,19.481346,15.768946,6.882473
2016-06-30 18:00:00,38,0.707107,1.000000,6,0,0,0,2016,0,0,...,21.0,19.0,0.0,0.0,33.294183,28.911147,20.879162,16.846595,6.683424,0.886257
2016-06-30 19:00:00,44,0.720205,0.999301,6,1,0,0,2016,0,0,...,19.0,0.0,0.0,0.0,31.523149,23.568234,18.271190,8.298026,1.723335,0.000000
2016-06-30 20:00:00,27,0.733052,0.997204,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,23.334398,18.057659,8.135593,1.480831,0.000000,0.000000
2016-06-30 21:00:00,21,0.745642,0.993712,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,17.190068,8.070615,1.472096,0.000000,0.000000,0.762073
2016-06-30 22:00:00,19,0.757972,0.988831,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,8.974803,2.066773,0.000000,0.000000,1.665916,2.540824
2016-06-30 23:00:00,0,0.770036,0.982566,6,0,0,0,2016,0,0,...,0.0,0.0,0.0,0.0,2.221545,0.000000,0.000000,1.509510,2.859345,3.649902

In [ ]:
dropCols = ['index','y','y1','y2','y3','y4','y5','y6']
prediction = getTrips(testSet.drop(dropCols, axis = 1))

predictionDf = pd.DataFrame(prediction.T,columns=['y1','y2','y3','y4','y5','y6'])
predictionDf.set_index(testSet.index,inplace=True)
predictionDf = predictionDf.merge(regDf,left_index=True,right_index=True,how='left')
predictionDf = predictionDf.round()

diff  = np.abs(predictionDf.y1-testSet.y1)+np.abs(predictionDf.y2-testSet.y2)+np.abs(predictionDf.y3-testSet.y3)+np.abs(predictionDf.y4-testSet.y4)+np.abs(predictionDf.y5-testSet.y5)+np.abs(predictionDf.y6-testSet.y6)
print 'Error is', diff.mean()/6

In [ ]:
# теперь надо сохранить это в файл
fName = 'res_week5-4.csv'
saveResults(predictionDf,fName)

deal with the dictionary of parameters