In [181]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from sklearn import preprocessing, linear_model
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

%matplotlib inline

Класс моделей ARIMA недостаточно богат для наших данных: с их помощью, например, никак нельзя учесть взаимосвязи между рядами. Это можно сделать с помощью векторной авторегрессии VARIMA, но её питоновская реализация не позволяет использовать регрессионные признаки. Кроме того, авторегрессионный подход не позволяет учитывать, например, взаимодействия между сезонными компонентами. Вы могли заметить, что форма суточных сезонных профилей в будни и выходные немного разная; явно моделировать этот эффект с помощью ARIMA не получится.

Нам нужна более сложная модель. Давайте займёмся сведением задачи массового прогнозирования рядов к регрессионной постановке! Вам понадобится много признаков. Некоторые из них у вас уже есть — это:
<ol>
<li>идентификатор географической зоны
<li>дата и время
<li>количество поездок в периоды, предшествующие прогнозируемому
<li>синусы, косинусы и тренды, которые вы использовали внутри регрессионной компоненты ARIMA
<li>Кроме того, не спешите выбрасывать построенный вами на прошлой неделе прогнозы — из них может получиться хороший признак для регрессии!
</ol>



Вы можете попробовать разные регрессионный модели, но хорошие результаты, скорее всего, дадут такие, которые будут позволять признакам взаимодействовать друг с другом.

Поскольку прогноз нужен на 6 часов вперёд, проще всего будет построить 6 независимых регрессионных моделей — одна для прогнозирования y^T+1|T, другая для y^T+2|T и т.д.

<ol>Чтобы сдать задание, выполните следующую последовательность действий.
<li>Для каждой из шести задач прогнозирования y^T+i|T,i=1,…,6 сформируйте выборки. Откликом будет yT+i при всевозможных значениях T, а признаки можно использовать следующие:
<ul>
<li>идентификатор географической зоны — категориальный
<li>год, месяц, день месяца, день недели, час — эти признаки можно пробовать брать и категориальными, и непрерывными, можно даже и так, и так (done)
<li>синусы, косинусы и тренды, которые вы использовали внутри регрессионной компоненты ARIMA (done)
<li>сами значения прогнозов ARIMA y^T+i|TARIMA
<li>количество поездок из рассматриваемого района в моменты времени yT,yT−1,…,yT−K (параметр K можно подбирать; попробуйте начать, например, с 6)
<li>количество поездок из рассматриваемого района в моменты времени yT−24,yT−48,…,yT−24∗Kd (параметр Kd можно подбирать; попробуйте начать, например, с 2)
<li>суммарное количество поездок из рассматриваемого района за предшествующие полдня, сутки, неделю, месяц
</ul>
Будьте внимательны при создании признаков — все факторы должны быть рассчитаны без использования информации из будущего: при прогнозировании y^T+i|T,i=1,…,6 вы можете учитывать только значения y до момента времени T включительно.

<li>Разбейте каждую из шести выборок на три части:

    обучающая, на которой будут настраиваться параметры моделей — всё до апреля 2016
    тестовая, на которой вы будете подбирать значения гиперпараметров — май 2016
    итоговая, которая не будет использоваться при настройке моделей вообще — июнь 2016

<li>Выберите вашу любимую регрессионную модель и настройте её на каждом из шести наборов данных, подбирая гиперпараметры на мае 2016. Желательно, чтобы модель:

    допускала попарные взаимодействия между признаками
    была устойчивой к избыточному количеству признаков (например, использовала регуляризаторы)

<li>Выбранными моделями постройте для каждой географической зоны и каждого конца истории от 2016.04.30 23:00 до 2016.05.31 17:00 прогнозы на 6 часов вперёд; посчитайте в ноутбуке ошибку прогноза по следующему функционалу:
Qmay=1R∗739∗6∑r=1R∑T=2016.04.3023:002016.05.3117:00∑i=16y^T|T+ir−yT+ir.
Убедитесь, что ошибка полученных прогнозов, рассчитанная согласно функционалу Q, определённому на прошлой неделе, уменьшилась по сравнению с той, которую вы получили методом индивидуального применения моделей ARIMA. Если этого не произошло, попробуйте улучшить ваши модели.

<li>Итоговыми моделями постройте прогнозы для каждого конца истории от 2016.05.31 23:00 до 2016.06.30 17:00 и запишите все результаты в один файл в формате geoID, histEndDay, histEndHour, step, y. Здесь geoID — идентификатор зоны, histEndDay — день конца истории в формате id,y, где столбец id состоит из склеенных через подчёркивание идентификатора географической зоны, даты конца истории, часа конца истории и номера отсчёта, на который делается предсказание (1-6); столбец y — ваш прогноз.

<li>Загрузите полученный файл на kaggle: https://inclass.kaggle.com/c/yellowtaxi. Добавьте в ноутбук ссылку на сабмишн.

<li>Загрузите ноутбук в форму.

Подгружаем данные

In [182]:
# id нужных регионов
regsDf = pd.read_csv('../crowdRegs.csv',names=['id','regId']);  

# временные ряды для этих регионов
df = pd.read_pickle('../loadData/crowdRegs3.pcl')
df.columns = regsDf.regId.values.astype('str')

In [183]:
df.head()

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,1630,1684,1733,1734,1783,2068,2069,2118,2119,2168
2014-01-01 00:00:00,87,146,70,113,367,645,589,799,948,321,...,9,0,5,89,10,35,9,106,22,71
2014-01-01 01:00:00,92,184,93,153,539,604,490,635,667,225,...,24,0,3,22,2,5,0,87,0,44
2014-01-01 02:00:00,108,165,55,151,443,571,465,499,455,124,...,27,0,3,23,1,1,0,39,0,1
2014-01-01 03:00:00,77,108,32,112,372,533,442,370,307,101,...,57,0,0,3,2,1,0,5,1,0
2014-01-01 04:00:00,47,79,22,77,213,383,296,319,261,87,...,38,0,1,9,1,8,0,29,1,18

In [184]:
def getCommonFeature(Kw=5,Ka=2):
    #parameters:
    #  Kw is number of weeks harmonics
    #  Ka is number of annual harmonics

    df2 = pd.DataFrame(index=index1)

    df2 = df2.assign(linear = (df2.index - datetime.datetime(2014,1,1,0,0,0))/np.timedelta64(1, 'h'))

    # час — эти признаки можно пробовать брать и категориальными
    # и непрерывными, можно даже и так, и так

    # добавляем гармонические фичи
    for ind in range(1,Kw+1):
        df2['weekCos'+str(ind)]= np.cos(np.pi*df2.linear*ind/168);
        df2['weekSin'+str(ind)]= np.sin(np.pi*df2.linear*ind/168);
    
    for ind in range(1,Ka+1):
        df2['yearCos'+str(ind)]= np.cos(2*np.pi*df2.linear*ind/8766);
        df2['yearSin'+str(ind)]= np.sin(2*np.pi*df2.linear*ind/8766);

    # добавляем числовое и категориальные свойства для дней недели
    df2 = df2.assign(dayOfWeek = df2.index.dayofweek)
    lbDays = preprocessing.LabelBinarizer()
    lbDays.fit(list(np.arange(6)))
    DoW = pd.DataFrame(lbDays.transform(df2.index.dayofweek),columns = ['dayOfWeek_'+str(x) for x in np.arange(6)],
               index = df2.index)      
    df2 = df2.merge(DoW,left_index=True,right_index=True)

    # добавляем dummy variables для месяца
    df2 = df2.assign(month = df2.index.month)
    lbMonths = preprocessing.LabelBinarizer()
    lbMonths.fit(list(np.arange(12)))
    Months = pd.DataFrame(lbMonths.transform(df2.index.month),columns = ['month_'+str(x) for x in np.arange(1,13)],
                  index = df2.index)      
    df2 = df2.merge(Months,left_index=True,right_index=True);

    # добавляем год (вещественный)
    df2 = df2.assign(year = df.index.year)

    # добавляем день месяца (вещественный)
    df2 = df2.assign(day = df.index.day)

    # добавляем час (вещественный и категориальный)
    df2 = df2.assign(hour = df.index.hour)
    lbHours = preprocessing.LabelBinarizer()
    lbHours.fit(list(np.arange(24)))
    Hours = pd.DataFrame(lbHours.transform(df2.index.hour),columns = ['hour_'+str(x) for x in np.arange(24)],
               index = df2.index)      
    df2 = df2.merge(Hours,left_index=True,right_index=True)
    return df2

In [185]:
def processSeries(df,Kh = 6, Kp = 2):
    """
    Обработка одного данного ряда 
    parameters:
        df - начальный датафрейм, из которого выберем для обработки один ряд
        tReg - название ряда, который надо обработать
        Kh - количество отслеживаемых прошлых суточных лагов "назад"
        Kp - количество отслеживаемых прошлых периодических лагов (период 24 часа)

    """
 

    tDf = df.copy()
    for timeLag in np.arange(1,Kh+1):
        name = 'hourLag_'+str(timeLag)
        tDf.loc[:,name] = tDf.y.shift(periods=timeLag)

    for timeLag in np.arange(1,Kp+1):
        name = 'periodicLag_'+str(timeLag)
        tDf.loc[:,name] = tDf.y.shift(periods=timeLag*24)

    tDf.fillna(0,inplace=True)    

    # суммарное количество поездок из рассматриваемого района за предшествующие полдня, сутки, неделю, месяц
    tDf.loc[:,'sum12'] = tDf.y.rolling(window = 12, min_periods = 1).sum()
    tDf.loc[:,'sum24'] = tDf.y.rolling(window = 24, min_periods = 1).sum()
    tDf.loc[:,'sumWeek'] = tDf.y.rolling(window = 168, min_periods = 1).sum()
    tDf.loc[:,'sumMonth'] = tDf.y.rolling(window = 720, min_periods = 1).sum()
    
    tDf.loc[:,'max12'] = tDf.y.rolling(window = 12, min_periods = 1).max()
    tDf.loc[:,'max24'] = tDf.y.rolling(window = 24, min_periods = 1).max()
    tDf.loc[:,'maxWeek'] = tDf.y.rolling(window = 168, min_periods = 1).max()
    tDf.loc[:,'maxMonth'] = tDf.y.rolling(window = 720, min_periods = 1).max()
    
    
    tDf.loc[:,'min12'] = tDf.y.rolling(window = 12, min_periods = 1).min()
    tDf.loc[:,'min24'] = tDf.y.rolling(window = 24, min_periods = 1).min()
    tDf.loc[:,'minWeek'] = tDf.y.rolling(window = 168, min_periods = 1).min()
    tDf.loc[:,'minMonth'] = tDf.y.rolling(window = 720, min_periods = 1).min()
    
    
    
    return tDf

In [186]:
# create multyindex dataframe
index1 = df.index # time is first index
index2 = df.columns.values.astype(int)

mIndex = pd.MultiIndex.from_product([index2, index1],names=['region','date'])
df_test = pd.DataFrame(columns=['y'],index = mIndex)

In [187]:
idx = pd.IndexSlice

In [188]:
# create MultiIndex dataframe with target variables    
for k in index2:
    pos = idx[k,:]
    df_test.loc[idx[k,:],'y'] = df.loc[:,str(k)].values
    # create target variables
    df_test.loc[pos,'y1'] = df_test.loc[pos,'y'].shift(-1).fillna(0)
    df_test.loc[pos,'y2'] = df_test.loc[pos,'y'].shift(-2).fillna(0)
    df_test.loc[pos,'y3'] = df_test.loc[pos,'y'].shift(-3).fillna(0)
    df_test.loc[pos,'y4'] = df_test.loc[pos,'y'].shift(-4).fillna(0)
    df_test.loc[pos,'y5'] = df_test.loc[pos,'y'].shift(-5).fillna(0)
    df_test.loc[pos,'y6'] = df_test.loc[pos,'y'].shift(-6).fillna(0)
    
df_test.head()

                              y     y1     y2    y3    y4    y5    y6
region date
1075   2014-01-01 00:00:00   87   92.0  108.0  77.0  47.0  22.0  10.0
       2014-01-01 01:00:00   92  108.0   77.0  47.0  22.0  10.0  18.0
       2014-01-01 02:00:00  108   77.0   47.0  22.0  10.0  18.0  19.0
       2014-01-01 03:00:00   77   47.0   22.0  10.0  18.0  19.0  28.0
       2014-01-01 04:00:00   47   22.0   10.0  18.0  19.0  28.0  37.0

In [ ]:
# create common features
commonFeatures = getCommonFeature()
commonFeatures.index.name = 'date'
commonFeatures.head()

,linear,weekCos1,weekSin1,weekCos2,weekSin2,weekCos3,weekSin3,weekCos4,weekSin4,weekCos5,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,0.0,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
2014-01-01 01:00:00,1.0,0.999825,0.018699,0.999301,0.037391,0.998427,0.056070,0.997204,0.074730,0.995632,...,0,0,0,0,0,0,0,0,0,0
2014-01-01 02:00:00,2.0,0.999301,0.037391,0.997204,0.074730,0.993712,0.111964,0.988831,0.149042,0.982566,...,0,0,0,0,0,0,0,0,0,0
2014-01-01 03:00:00,3.0,0.998427,0.056070,0.993712,0.111964,0.985871,0.167506,0.974928,0.222521,0.960917,...,0,0,0,0,0,0,0,0,0,0
2014-01-01 04:00:00,4.0,0.997204,0.074730,0.988831,0.149042,0.974928,0.222521,0.955573,0.294755,0.930874,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# join common features and add unique ones for each subgroup 
final = pd.DataFrame()
for k in index2:
    # create tatget variables
    pos = idx[k,:]
    tmp = processSeries(df_test.loc[pos,:].join(commonFeatures))
    final = pd.concat([final,tmp])

In [ ]:
final.head()

In [ ]:
idx = pd.IndexSlice

In [ ]:
dropList = ['y1','y2','y3','y4','y5','y6','y','date','region']
targetList= ['y1','y2','y3','y4','y5','y6']

In [ ]:
# dataframe to save prediction
resIndex = pd.MultiIndex.from_product([final.index.levels[0],pd.date_range(start=startTest,end=endTest,freq='1H')],
                                    names=['region','date'])
df_res = pd.DataFrame(columns=['y1','y1_pr','y2','y2_pr','y3','y3_pr','y4','y4_pr','y5','y5_pr','y6','y6_pr'],index = resIndex)
saveDict = {'y1':'y1_pr','y2':'y2_pr','y3':'y3_pr','y4':'y4_pr','y5':'y5_pr','y6':'y6_pr'}

In [ ]:
# define time frames
startTrain = '2014-01-01 00:00:00'
endTrain   = '2016-04-30 23:00:00'

startValidation = '2016-05-01 00:00:00'
endValidation   = '2016-05-31 23:00:00'

startTest = '2016-06-01 00:00:00'
endTest   = '2016-06-30 23:00:00'

In [ ]:
for reg in final.index.levels[0].values:
    print reg
    train = final.loc[idx[reg,startTrain:endValidation],:].reset_index()
    test  = final.loc[idx[reg,startTest:endTest],:].reset_index()
    for target in targetList:
        print target
        #dropList = [x for x in targetList if x !=target]
        #dropList.append('y')
        linReg.fit(train.drop(dropList,axis=1),train.loc[:,target])
        prediction = linReg.predict(test.drop(dropList,axis=1))
        prediction[prediction<0] = 0
        print MAE(prediction,test.loc[:,target])
        #save results
        df_res.loc[idx[reg,:], target] = test.loc[:,target].values
        df_res.loc[idx[reg,:], saveDict.get(target)] = prediction
df_res.head()

In [ ]:
calcMAE(df_res)

In [157]:
saveResults(df_res,fName='30_2.csv',delta=0)

Скор на LB равен 36.76791
Занулил отрицательные предсказания. Скор 36.67943

In [111]:
def saveResults(rdf, fName, delta = 30):
    rnd = np.round

    f = open(fName,'w')
    f.writelines('id,y\n')

    for ind, row in rdf.reset_index().iterrows():
        historyStart = row.date - datetime.timedelta(hours = 1)

        if historyStart > datetime.datetime(2016,6,30,17):
            continue

        s0 = str(row.region)+'_'+ str(datetime.datetime.strftime(historyStart, "%Y-%m-%d"))+ '_'+ str(historyStart.hour)

        s1 = s0 +'_1,'+str(rnd(row.get('y1_pr'))+delta) + '\n'
        f.writelines(s1)

        s2 = s0 +'_2,'+str(rnd(row.get('y2_pr'))+delta) + '\n'
        f.writelines(s2)

        s3 = s0 +'_3,'+str(rnd(row.get('y3_pr'))+delta) + '\n'
        f.writelines(s3)

        s4 = s0 +'_4,'+str(rnd(row.get('y4_pr'))+delta) + '\n'
        f.writelines(s4)

        s5 = s0 +'_5,'+str(rnd(row.get('y5_pr'))+delta) + '\n'
        f.writelines(s5)

        s6 = s0 +'_6,'+str(rnd(row.get('y6_pr'))+delta) + '\n'
        f.writelines(s6)

    f.close()

In [152]:
def calcMAE(inpDf):
    score = 0
    testDf = inpDf.reset_index()
    for k, v in saveDict.iteritems():
        score += MAE(testDf.loc[:,k],testDf.loc[:,v])
    score = score / 6.0    
    print score

In [156]:
calcMAE(df_res)

26.408985497

In [161]:
dfJune = pd.read_pickle('../checkData/June2016.pcl')
dfJune.head()

                      y  region    y1    y2    y3    y4    y5    y6
2016-06-01 00:00:00  16    1075  16.0  12.0   3.0   0.0   3.0  16.0
2016-06-01 01:00:00  16    1075  12.0   3.0   0.0   3.0  16.0  25.0
2016-06-01 02:00:00  12    1075   3.0   0.0   3.0  16.0  25.0  55.0
2016-06-01 03:00:00   3    1075   0.0   3.0  16.0  25.0  55.0  68.0
2016-06-01 04:00:00   0    1075   3.0  16.0  25.0  55.0  68.0  49.0

In [167]:
dfJune = dfJune.reset_index().rename(columns={'index':'date'}).set_index(['region','date'])
dfJune.head()

                             y    y1    y2    y3    y4    y5    y6
region date
1075   2016-06-01 00:00:00  16  16.0  12.0   3.0   0.0   3.0  16.0
       2016-06-01 01:00:00  16  12.0   3.0   0.0   3.0  16.0  25.0
       2016-06-01 02:00:00  12   3.0   0.0   3.0  16.0  25.0  55.0
       2016-06-01 03:00:00   3   0.0   3.0  16.0  25.0  55.0  68.0
       2016-06-01 04:00:00   0   3.0  16.0  25.0  55.0  68.0  49.0

In [170]:
# join common features and add unique ones for each subgroup 
finalJune = pd.DataFrame()
for k in index2:
    # create tatget variables
    pos = idx[k,:]
    tmp = processSeries(dfJune.loc[pos,:].join(commonFeatures.loc['06-2016']))
    finalJune = pd.concat([finalJune,tmp])

In [176]:
for reg in final.index.levels[0].values:
    print reg
    train = final.loc[idx[reg,startTrain:endValidation],:].reset_index()
    test  = finalJune.loc[idx[reg,startTest:endTest],:].reset_index()
    for target in targetList:
        print target
        #dropList = [x for x in targetList if x !=target]
        #dropList.append('y')
        linReg.fit(train.drop(dropList,axis=1),train.loc[:,target])
        prediction = linReg.predict(test.drop(dropList,axis=1))
        prediction[prediction<0] = 0
        print MAE(prediction,test.loc[:,target])
        #save results
        df_res.loc[idx[reg,:], target] = test.loc[:,target].values
        df_res.loc[idx[reg,:], saveDict.get(target)] = prediction
df_res.head()

1075
y1
15.1405085005
y2
16.5878671462
y3
17.4756596647
y4
17.8462044597
y5
17.8788309701
y6
18.0039281408
1076
y1
23.3364753259
y2
24.1912818236
y3
24.5130871846
y4
24.6720015474
y5
24.710506964
y6
25.1327576321
1077
y1
19.9586673226
y2
20.8741828381
y3
21.348322989
y4
21.0256746179
y5
20.7194692545
y6
20.4561362905
1125
y1
12.8061633499
y2
13.4098420331
y3
13.7930015333
y4
13.8387837311
y5
13.6979949644
y6
13.7537739978
1126
y1
28.7836074043
y2
29.7237896039
y3
30.7757501243
y4
32.0448856222
y5
32.8380935188
y6
32.473294323
1127
y1
42.4989107254
y2
47.2976012709
y3
49.5150744682
y4
49.4202119819
y5
47.6224590386
y6
47.5293175796
1128
y1
50.5689726186
y2
57.3054623843
y3
60.5373130507
y4
60.6273802059
y5
59.4264954943
y6
58.6575634163
1129
y1
63.2900210762
y2
74.0285503881
y3
77.9430954798
y4
73.9531482503
y5
70.3269319698
y6
69.8819873707
1130
y1
79.7253604271
y2
91.3138362674
y3
97.8292452553
y4
93.6598655531
y5
86.1436609275
y6
84.515866206
1131
y1
32.5847510095
y2
36.7515020513
y3
38.1601105148
y4
36.8475343346
y5
35.0862627997
y6
34.3868483803
1132
y1
14.5267412277
y2
16.9231114439
y3
18.3220895192
y4
18.2768798156
y5
18.3557562041
y6
18.2050473561
1172
y1
2.407371516
y2
2.43880710695
y3
2.41863314998
y4
2.41929587888
y5
2.40545266203
y6
2.41826945195
1173
y1
7.15061714393
y2
7.16484878528
y3
7.05112953115
y4
6.97760013968
y5
7.08793656092
y6
7.31232237837
1174
y1
8.00627378143
y2
8.16020765605
y3
8.06418119573
y4
7.97925176488
y5
8.03640999865
y6
8.23240442635
1175
y1
4.64005165068
y2
4.72547508391
y3
4.78769259806
y4
4.76173943413
y5
4.76709394495
y6
4.80251812353
1176
y1
5.45256039673
y2
5.81008745045
y3
5.8604659147
y4
5.79268247391
y5
5.57398547648
y6
5.46546943802
1177
y1
60.8641822483
y2
79.6607433333
y3
88.0723467127
y4
85.2794271141
y5
79.2910844503
y6
78.2358518202
1178
y1
76.8968777966
y2
92.4169179411
y3
100.71616419
y4
99.9481963054
y5
96.8362578913
y6
96.7748121371
1179
y1
66.0154962702
y2
77.1109554942
y3
81.335441849
y4
80.1974269629
y5
76.53133736
y6
72.8426685593
1180
y1
73.2152002901
y2
85.5320290437
y3
91.4293038308
y4
90.354939016
y5
86.5445598549
y6
82.6860357327
1181
y1
120.767300815
y2
132.563770952
y3
139.631743089
y4
138.907337212
y5
133.005161185
y6
130.225124336
1182
y1
77.2648950793
y2
85.7312689032
y3
85.879760784
y4
82.3007971788
y5
78.7366346809
y6
79.7595464942
1183
y1
20.8652903794
y2
22.7057575216
y3
23.0652631832
y4
22.658240043
y5
22.0644865977
y6
21.7239666586
1184
y1
5.04594459753
y2
5.15927963567
y3
4.99955152162
y4
5.01199541579
y5
5.05062038472
y6
5.15392869773
1221
y1
2.53267560716
y2
2.57241156144
y3
2.55241031931
y4
2.50232040073
y5
2.49788897443
y6
2.54008902431
1222
y1
3.81374461266
y2
3.83432419607
y3
3.86613017939
y4
3.75921892513
y5
3.72557231424
y6
3.83758995778
1223
y1
4.6977778477
y2
4.84889958345
y3
4.82057007613
y4
4.75969978718
y5
4.80796895858
y6
4.96197724229
1224
y1
6.52407297021
y2
6.74900916046
y3
6.6503155137
y4
6.62788942181
y5
6.62403530783
y6
6.67724457907
1225
y1
2.54336516841
y2
2.53027359504
y3
2.509081107
y4
2.4732173954
y5
2.4863113529
y6
2.51938883424
1227
y1
43.3256425321
y2
56.5918903914
y3
60.6841019981
y4
59.2844872578
y5
54.2931140743
y6
53.5208530735
1228
y1
69.9595423604
y2
84.0403922833
y3
90.653443583
y4
87.874799666
y5
81.5197188051
y6
80.8583480961
1229
y1
70.8959143289
y2
82.3773773576
y3
86.623731364
y4
83.2317104964
y5
78.1954854051
y6
77.0271137302
1230
y1
101.613543268
y2
115.805656551
y3
122.999786235
y4
120.623739603
y5
116.811929499
y6
114.739182576
1231
y1
103.01091403
y2
114.887525493
y3
119.261330768
y4
120.475085014
y5
116.507601674
y6
110.137431346
1232
y1
104.789482846
y2
117.238211436
y3
120.968996147
y4
124.417151233
y5
124.58564108
y6
123.034971005
1233
y1
70.9159717647
y2
79.2520733802
y3
82.8176224479
y4
82.8803779578
y5
82.6127202955
y6
82.4810781588
1234
y1
48.8314210682
y2
52.0388155616
y3
52.4446407801
y4
53.6652159732
y5
53.4558260949
y6
52.5031409016
1235
y1
23.5290659538
y2
25.4361776467
y3
26.1461906603
y4
26.3028509938
y5
25.390215082
y6
24.6481297056
1272
y1
3.21719659421
y2
3.29770452297
y3
3.33625070307
y4
3.27686993885
y5
3.23701317223
y6
3.27574269844
1273
y1
4.96148206234
y2
5.21132676005
y3
5.26973306706
y4
5.2253434243
y5
5.15609550718
y6
5.17250161327
1274
y1
2.56502404351
y2
2.62135262393
y3
2.66078464817
y4
2.6147835844
y5
2.60045705262
y6
2.6128511263
1278
y1
4.11390822171
y2
4.13293465896
y3
4.02746884359
y4
3.93567063764
y5
3.83321630517
y6
3.91884673919
1279
y1
6.50635035112
y2
6.66119909296
y3
6.62949957213
y4
6.58472006878
y5
6.36752412658
y6
6.37431517148
1280
y1
34.071582533
y2
36.4991193606
y3
36.8612243925
y4
36.0744015789
y5
34.5712106093
y6
33.2488512188
1281
y1
108.602820778
y2
115.237280476
y3
116.641280201
y4
116.222746442
y5
115.019493415
y6
114.948713622
1282
y1
142.86209009
y2
154.769165975
y3
158.038533961
y4
159.33230715
y5
160.44133428
y6
162.048761415
1283
y1
42.6140314506
y2
46.1747069498
y3
47.45965541
y4
48.0511725223
y5
47.4488324824
y6
46.5919674245
1284
y1
17.8698323087
y2
18.4584841126
y3
18.4349430328
y4
18.3895062319
y5
18.4624165315
y6
18.3283000098
1285
y1
41.2501501475
y2
44.0031000085
y3
45.2188908907
y4
44.9413030677
y5
43.7685093532
y6
43.6824640624
1286
y1
32.6213893801
y2
35.2251774345
y3
35.6422106558
y4
35.6358778575
y5
34.6116899179
y6
34.1821030951
1287
y1
13.1410573169
y2
13.1980712807
y3
13.4006768443
y4
13.3415735423
y5
13.3311587495
y6
13.4212969359
1326
y1
8.0115065863
y2
9.14716841036
y3
9.47805712548
y4
9.30680635182
y5
8.78247842191
y6
8.72478888143
1327
y1
10.2144177933
y2
11.6312172847
y3
12.0169458742
y4
11.6480477057
y5
10.9558740049
y6
10.7862792212
1331
y1
11.2271089906
y2
11.4834097687
y3
11.2930951713
y4
10.914541546
y5
10.5301291771
y6
10.3415258362
1332
y1
57.3813782413
y2
58.8718530156
y3
58.6304496112
y4
56.9727040206
y5
55.4488789475
y6
54.5291102733
1333
y1
85.4996811186
y2
90.4990858817
y3
90.3715447841
y4
86.52163473
y5
82.2100104652
y6
77.8507063505
1334
y1
72.877368825
y2
78.7074480899
y3
81.330439225
y4
79.7642927033
y5
74.4625399519
y6
70.2831574114
1335
y1
19.7571142584
y2
20.9104863822
y3
21.1036423004
y4
20.6489335391
y5
19.5863388404
y6
18.5709173658
1336
y1
12.3949671373
y2
13.185365429
y3
13.7118480758
y4
13.7842941623
y5
13.5893608434
y6
13.4397236031
1337
y1
14.3237171418
y2
14.558498323
y3
14.6188688917
y4
14.6346170127
y5
14.5195675692
y6
14.8134095694
1338
y1
10.0294356061
y2
10.320896293
y3
10.3803830041
y4
10.3045942164
y5
10.1325971882
y6
10.2524343974
1339
y1
3.40659501357
y2
3.35340704551
y3
3.31816541111
y4
3.30648473972
y5
3.29957073795
y6
3.31016993636
1376
y1
5.25090054545
y2
6.35861483244
y3
6.69497348054
y4
6.5456349176
y5
6.15966313824
y6
5.89152931235
1377
y1
4.23374986573
y2
4.82107490522
y3
4.91668566879
y4
4.73095969136
y5
4.39298765465
y6
4.45597094784
1378
y1
3.21538169285
y2
3.56643439552
y3
3.55258267376
y4
3.44491484439
y5
3.27522389213
y6
3.20333391603
1380
y1
3.06231503881
y2
3.08752985761
y3
3.08437168398
y4
3.0706601981
y5
3.08206999085
y6
3.06981576304
1382
y1
5.91840584875
y2
5.95734564244
y3
6.13161699029
y4
6.18286407533
y5
6.05131374271
y6
6.17652888339
1383
y1
47.2984360802
y2
50.77304066
y3
49.7384408016
y4
46.7695734615
y5
44.0877562024
y6
42.2779934845
1384
y1
69.4595319837
y2
76.0735966335
y3
76.2264323802
y4
75.6236441558
y5
72.1045344365
y6
70.6201934735
1385
y1
42.4657073113
y2
46.8432415346
y3
47.2517119647
y4
45.6017872517
y5
43.6397060744
y6
41.8256735469
1386
y1
9.13662393414
y2
9.31016235867
y3
9.46172985203
y4
9.47692985933
y5
9.38132701049
y6
9.29961349469
1387
y1
7.58842121892
y2
7.76034934102
y3
7.76761317307
y4
7.83469647355
y5
7.85665863077
y6
7.90137859021
1388
y1
6.42481833493
y2
6.56163571452
y3
6.61848893515
y4
6.61446396317
y5
6.63358531392
y6
6.64298603118
1389
y1
4.21523795762
y2
4.23723386386
y3
4.24843472906
y4
4.34072313065
y5
4.33586549027
y6
4.32031827748
1390
y1
4.26748748526
y2
4.38738634255
y3
4.39580488284
y4
4.41686405292
y5
4.42099858405
y6
4.48642162451
1426
y1
2.36162127478
y2
2.75474399525
y3
2.87165425433
y4
2.79655185035
y5
2.64771579759
y6
2.50376175106
1431
y1
5.17563121797
y2
5.33540407417
y3
5.47367480096
y4
5.51873152646
y5
5.49246378809
y6
5.47327390092
1434
y1
3.39622222812
y2
3.4986505664
y3
3.46600754457
y4
3.40238580738
y5
3.30097406445
y6
3.19751311373
1435
y1
3.03231203586
y2
3.08790026877
y3
3.0989929608
y4
3.11158225738
y5
3.11193163781
y6
3.12419952171
1436
y1
6.20762989149
y2
6.20598958065
y3
6.24618561108
y4
6.30999303392
y5
6.35938278079
y6
6.33344206665
1437
y1
9.65165576099
y2
9.6040551196
y3
9.61073484511
y4
9.68722323898
y5
9.69143383357
y6
9.65366655079
1438
y1
3.60224259981
y2
3.63079920683
y3
3.69722540824
y4
3.71716582685
y5
3.74664924616
y6
3.73105882686
1439
y1
2.81731308022
y2
2.85995010208
y3
2.88355629042
y4
2.89315923472
y5
2.87734437814
y6
2.89858964703
1441
y1
2.1708942113
y2
2.19267214926
y3
2.16077086774
y4
2.1405714368
y5
2.12811314778
y6
2.12912178451
1442
y1
2.89259000636
y2
2.89694619327
y3
2.90983730993
y4
2.90822476691
y5
2.88935832618
y6
2.86530619037
1480
y1
3.56126162887
y2
3.63092261724
y3
3.64605036332
y4
3.614714226
y5
3.57176672668
y6
3.59380228755
1482
y1
3.74517875384
y2
3.86750087476
y3
3.85212295866
y4
3.74483842094
y5
3.62929764997
y6
3.67663984504
1483
y1
3.38904128354
y2
3.35581012248
y3
3.30655828106
y4
3.32170921813
y5
3.37157427359
y6
3.41269604845
1530
y1
4.27686424061
y2
4.33802877057
y3
4.29997341756
y4
4.30005690599
y5
4.30058426534
y6
4.40028733633
1532
y1
2.81357415876
y2
2.952385756
y3
3.00611358708
y4
3.00672864014
y5
3.01076688811
y6
2.99103944307
1533
y1
3.89818694044
y2
4.08125715988
y3
4.20052613307
y4
4.13878104738
y5
3.95122915195
y6
3.95321092873
1580
y1
2.20458949769
y2
2.19102201186
y3
2.19330388281
y4
2.18231802094
y5
2.18054966417
y6
2.19489285535
1630
y1
2.12488605738
y2
2.12698360792
y3
2.16601318212
y4
2.18737129114
y5
2.1919630817
y6
2.19525566224
1684
y1
6.43112291904
y2
6.44203653502
y3
6.51553437101
y4
6.50727018739
y5
6.55324430681
y6
6.52137689386
1733
y1
2.27721135575
y2
2.26643920658
y3
2.26182749167
y4
2.25811177949
y5
2.25327845274
y6
2.278497701
1734
y1
43.6849819871
y2
47.7999997977
y3
50.1427556804
y4
52.3169103013
y5
52.7775335251
y6
52.068211395
1783
y1
49.3044004511
y2
54.0083643325
y3
57.6596488409
y4
59.0573941135
y5
58.4747594905
y6
57.5260275598
2068
y1
22.6302417703
y2
22.9558115164
y3
23.6727284917
y4
24.2151463428
y5
24.2800075316
y6
24.3900510353
2069
y1
5.53798056369
y2
5.52642655472
y3
5.58355711237
y4
5.56220941899
y5
5.64499580391
y6
5.70327714393
2118
y1
30.0960604297
y2
29.9025378571
y3
29.9632196828
y4
30.5191112188
y5
31.154553628
y6
31.7674649353
2119
y1
22.39364444
y2
23.2997276837
y3
24.1918599702
y4
24.601628269
y5
24.8503356909
y6
25.6201017901
2168
y1
23.2367397406
y2
25.8544826573
y3
26.9082615796
y4
27.5338148084
y5
28.2067725676
y6
28.4175909682

                              y1    y1_pr    y2    y2_pr    y3    y3_pr    y4  \
region date
1075   2016-06-01 00:00:00  16.0  3.25548  12.0  6.02036   3.0   8.9892   0.0
       2016-06-01 01:00:00  12.0  9.24819   3.0  10.4773   0.0  13.1066   3.0
       2016-06-01 02:00:00   3.0   10.849   0.0  12.1857   3.0  13.8932  16.0
       2016-06-01 03:00:00   0.0  11.5391   3.0  12.2334  16.0   18.417  25.0
       2016-06-01 04:00:00   3.0  6.60129  16.0   14.326  25.0  25.8311  55.0

                              y4_pr    y5    y5_pr    y6    y6_pr
region date
1075   2016-06-01 00:00:00  13.8707   3.0  19.6937  16.0  30.6543
       2016-06-01 01:00:00  16.7964  16.0  26.4724  25.0  39.1153
       2016-06-01 02:00:00  21.7251  25.0   33.005  55.0  50.8407
       2016-06-01 03:00:00  28.2851  55.0  44.8531  68.0  39.1584
       2016-06-01 04:00:00  43.3876  68.0  37.0668  49.0  36.6285

In [177]:
calcMAE(df_res)

30.2062415292

In [178]:
saveResults(df_res,fName='30_3.csv',delta=0)

На борде даёт результат 34.53507

In [180]:
df_res

                               y1    y1_pr     y2    y2_pr     y3    y3_pr  \
region date
1075   2016-06-01 00:00:00   16.0  3.25548   12.0  6.02036    3.0   8.9892
       2016-06-01 01:00:00   12.0  9.24819    3.0  10.4773    0.0  13.1066
       2016-06-01 02:00:00    3.0   10.849    0.0  12.1857    3.0  13.8932
       2016-06-01 03:00:00    0.0  11.5391    3.0  12.2334   16.0   18.417
       2016-06-01 04:00:00    3.0  6.60129   16.0   14.326   25.0  25.8311
       2016-06-01 05:00:00   16.0  10.6712   25.0  22.7929   55.0  41.0749
       2016-06-01 06:00:00   25.0  19.1439   55.0  38.0392   68.0  33.1435
       2016-06-01 07:00:00   55.0  39.2594   68.0  32.0472   49.0  28.9672
       2016-06-01 08:00:00   68.0  30.6522   49.0  25.7355   60.0  40.6361
       2016-06-01 09:00:00   49.0   36.933   60.0  48.2667   84.0  57.1907
       2016-06-01 10:00:00   60.0   62.098   84.0  67.9435   90.0  65.3768
       2016-06-01 11:00:00   84.0   64.925   90.0   64.453  104.0  62.7008
       2016-06-01 12:00:00   90.0  64.9653  104.0  65.5366  111.0  56.5799
       2016-06-01 13:00:00  104.0  74.7012  111.0  65.6324   77.0   44.039
       2016-06-01 14:00:00  111.0  69.7518   77.0  50.0746   78.0  55.2618
       2016-06-01 15:00:00   77.0  59.1733   78.0  64.8397   94.0  71.9465
       2016-06-01 16:00:00   78.0  81.8268   94.0  85.5371  130.0  74.3602
       2016-06-01 17:00:00   94.0  81.4998  130.0  72.9972   97.0  65.2069
       2016-06-01 18:00:00  130.0  68.3498   97.0  64.1938  122.0  67.1627
       2016-06-01 19:00:00   97.0    70.97  122.0  74.1235  114.0  59.4589
       2016-06-01 20:00:00  122.0  92.8396  114.0  74.5609   75.0  55.3038
       2016-06-01 21:00:00  114.0  67.5227   75.0  51.1409   44.0  36.6989
       2016-06-01 22:00:00   75.0  68.6853   44.0  49.0459   28.0  32.7874
       2016-06-01 23:00:00   44.0  59.0333   28.0  40.7598   11.0  24.4272
       2016-06-02 00:00:00   28.0  37.9644   11.0  24.8358    4.0  16.2447
       2016-06-02 01:00:00   11.0  17.5797    4.0  13.4942    4.0  17.7459
       2016-06-02 02:00:00    4.0   19.045    4.0  20.2314    6.0  21.3738
       2016-06-02 03:00:00    4.0  13.0775    6.0  18.1316   15.0  32.0069
       2016-06-02 04:00:00    6.0  15.0167   15.0  29.3497   28.0  52.1654
       2016-06-02 05:00:00   15.0  30.6549   28.0  51.5558   78.0  79.2902
...                           ...      ...    ...      ...    ...      ...
2168   2016-06-29 18:00:00    0.0  43.4335    0.0  50.8088    1.0  61.8217
       2016-06-29 19:00:00    0.0  43.2533    1.0  59.3925    1.0  67.1775
       2016-06-29 20:00:00    1.0  51.4882    1.0  64.7088    0.0  51.7993
       2016-06-29 21:00:00    1.0  55.7363    0.0  49.5137    0.0  37.0064
       2016-06-29 22:00:00    0.0   38.193    0.0  33.8556    2.0  11.0335
       2016-06-29 23:00:00    0.0  23.6171    2.0  7.53399    1.0        0
       2016-06-30 00:00:00    2.0        0    1.0        0    0.0        0
       2016-06-30 01:00:00    1.0        0    0.0        0    0.0        0
       2016-06-30 02:00:00    0.0        0    0.0        0    0.0  27.0317
       2016-06-30 03:00:00    0.0        0    0.0   25.999    8.0  31.5757
       2016-06-30 04:00:00    0.0   29.335    8.0  30.6081    3.0  25.7768
       2016-06-30 05:00:00    8.0  26.4401    3.0   24.274    2.0  22.9105
       2016-06-30 06:00:00    3.0  15.9714    2.0  18.3918    1.0  21.3671
       2016-06-30 07:00:00    2.0  12.7483    1.0  17.7635    1.0  18.3213
       2016-06-30 08:00:00    1.0  13.0113    1.0  15.2142    0.0  12.8184
       2016-06-30 09:00:00    1.0  12.1066    0.0  10.4505    2.0  22.4493
       2016-06-30 10:00:00    0.0  9.54663    2.0   20.904    0.0  33.6265
       2016-06-30 11:00:00    2.0  22.6647    0.0  33.5573    1.0  37.3079
       2016-06-30 12:00:00    0.0  37.4368    1.0  39.4965    0.0  30.3522
       2016-06-30 13:00:00    1.0  39.2909    0.0   31.841    1.0  29.5645
       2016-06-30 14:00:00    0.0  28.5878    1.0  29.8164    2.0  28.1721
       2016-06-30 15:00:00    1.0  26.0162    2.0  27.8829    1.0  36.3642
       2016-06-30 16:00:00    2.0  23.4712    1.0  35.8241    1.0   52.251
       2016-06-30 17:00:00    1.0   31.284    1.0  50.3024    0.0  52.8235
       2016-06-30 18:00:00    1.0  45.1126    0.0  50.9397    1.0  60.4785
       2016-06-30 19:00:00    0.0  44.0435    1.0  58.6134    0.0  65.0888
       2016-06-30 20:00:00    1.0  51.5616    0.0  63.0007    0.0  48.7415
       2016-06-30 21:00:00    0.0  54.8734    0.0  46.8368    0.0   32.923
       2016-06-30 22:00:00    0.0  36.5472    0.0  30.3111    0.0  5.91014
       2016-06-30 23:00:00    0.0  21.1283    0.0  3.04372    0.0        0

                               y4    y4_pr     y5     y5_pr     y6    y6_pr
region date
1075   2016-06-01 00:00:00    0.0  13.8707    3.0   19.6937   16.0  30.6543
       2016-06-01 01:00:00    3.0  16.7964   16.0   26.4724   25.0  39.1153
       2016-06-01 02:00:00   16.0  21.7251   25.0    33.005   55.0  50.8407
       2016-06-01 03:00:00   25.0  28.2851   55.0   44.8531   68.0  39.1584
       2016-06-01 04:00:00   55.0  43.3876   68.0   37.0668   49.0  36.6285
       2016-06-01 05:00:00   68.0  35.0377   49.0   33.7302   60.0  53.1252
       2016-06-01 06:00:00   49.0  32.4166   60.0   51.2215   84.0  67.2715
       2016-06-01 07:00:00   60.0  46.5663   84.0   62.6375   90.0  69.7233
       2016-06-01 08:00:00   84.0  55.2027   90.0   62.5075  104.0  68.1946
       2016-06-01 09:00:00   90.0  58.9572  104.0   61.0837  111.0   55.141
       2016-06-01 10:00:00  104.0  62.9199  111.0   53.4941   77.0  35.3051
       2016-06-01 11:00:00  111.0  52.6525   77.0   32.8228   78.0  40.7477
       2016-06-01 12:00:00   77.0  36.3192   78.0   42.7495   94.0  52.9737
       2016-06-01 13:00:00   78.0  48.4999   94.0   57.1293  130.0  54.6898
       2016-06-01 14:00:00   94.0  63.3046  130.0   59.7153   97.0  57.4049
       2016-06-01 15:00:00  130.0  66.3151   97.0   62.0936  122.0  64.0522
       2016-06-01 16:00:00   97.0  65.3117  122.0   64.8681  114.0  50.0844
       2016-06-01 17:00:00  122.0  65.5519  114.0   51.1115   75.0  37.5129
       2016-06-01 18:00:00  114.0  54.2837   75.0   41.2125   44.0  29.9374
       2016-06-01 19:00:00   75.0  43.8835   44.0   30.8591   28.0  21.1573
       2016-06-01 20:00:00   44.0  39.7282   28.0    29.728   11.0  20.8851
       2016-06-01 21:00:00   28.0  27.8541   11.0   20.3711    4.0  13.7237
       2016-06-01 22:00:00   11.0  19.9585    4.0   11.9759    4.0  11.6958
       2016-06-01 23:00:00    4.0   13.713    4.0   12.2769    6.0  15.4498
       2016-06-02 00:00:00    4.0  15.5309    6.0   17.7012   15.0  29.2232
       2016-06-02 01:00:00    6.0  22.7028   15.0   33.4762   28.0  51.6952
       2016-06-02 02:00:00   15.0  30.3356   28.0   48.5105   78.0  76.3949
       2016-06-02 03:00:00   28.0  54.2704   78.0   83.3387   78.0  83.7067
       2016-06-02 04:00:00   78.0  82.5963   78.0   83.8718   56.0  82.9296
       2016-06-02 05:00:00   78.0  79.3909   56.0   78.2547   72.0  93.0155
...                           ...      ...    ...       ...    ...      ...
2168   2016-06-29 18:00:00    1.0  66.5116    0.0   48.2897    0.0   29.963
       2016-06-29 19:00:00    0.0  51.2299    0.0   33.0537    2.0  3.47981
       2016-06-29 20:00:00    0.0  35.4929    2.0   5.61581    1.0        0
       2016-06-29 21:00:00    2.0  9.44438    1.0         0    0.0        0
       2016-06-29 22:00:00    1.0        0    0.0         0    0.0        0
       2016-06-29 23:00:00    0.0        0    0.0         0    0.0  38.6567
       2016-06-30 00:00:00    0.0        0    0.0    33.798    8.0  42.1998
       2016-06-30 01:00:00    0.0  30.4784    8.0   39.3748    3.0  36.7867
       2016-06-30 02:00:00    8.0  34.7888    3.0   33.9362    2.0  30.9206
       2016-06-30 03:00:00    3.0  29.1924    2.0   28.6036    1.0  27.1159
       2016-06-30 04:00:00    2.0  23.2164    1.0   24.4958    1.0  20.7046
       2016-06-30 05:00:00    1.0  24.5149    1.0   23.8059    0.0  19.0095
       2016-06-30 06:00:00    1.0  21.3166    0.0   17.5533    2.0  27.5924
       2016-06-30 07:00:00    0.0  15.1676    2.0   25.7983    0.0  37.9159
       2016-06-30 08:00:00    2.0  24.3422    0.0   36.4872    1.0  40.9471
       2016-06-30 09:00:00    0.0  35.3745    1.0   39.6766    0.0  32.2766
       2016-06-30 10:00:00    1.0  38.2279    0.0   30.6276    1.0  29.9193
       2016-06-30 11:00:00    0.0  29.4733    1.0   28.4461    2.0  25.9062
       2016-06-30 12:00:00    1.0  27.6467    2.0   25.2888    1.0  32.4162
       2016-06-30 13:00:00    2.0  26.5353    1.0   33.4335    1.0  48.3118
       2016-06-30 14:00:00    1.0  35.0364    1.0   48.9667    0.0  50.2488
       2016-06-30 15:00:00    1.0    50.61    0.0   50.5206    1.0  58.0022
       2016-06-30 16:00:00    0.0  52.9976    1.0   59.1699    0.0  61.9212
       2016-06-30 17:00:00    1.0  60.0838    0.0   61.7896    0.0  43.6095
       2016-06-30 18:00:00    0.0  63.7635    0.0   44.5524    0.0  26.6759
       2016-06-30 19:00:00    0.0  47.9052    0.0    28.767    0.0        0
       2016-06-30 20:00:00    0.0  31.1986    0.0  0.292237    0.0        0
       2016-06-30 21:00:00    0.0  4.01799    0.0         0    0.0        0
       2016-06-30 22:00:00    0.0        0    0.0         0    0.0        0
       2016-06-30 23:00:00    0.0        0    0.0         0    0.0  30.6127

[73440 rows x 12 columns]